In [1]:
# Imports
import pandas as pd
import numpy as np

In [2]:
# Import intake CSV data
intake_df = pd.read_csv("Resources/Austin_Animal_Center_Intakes.csv")
intake_df.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,01/03/2019 04:19:00 PM,01/03/2019 04:19:00 PM,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,07/05/2015 12:59:00 PM,07/05/2015 12:59:00 PM,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,04/14/2016 06:43:00 PM,04/14/2016 06:43:00 PM,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,10/21/2013 07:59:00 AM,10/21/2013 07:59:00 AM,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,06/29/2014 10:38:00 AM,06/29/2014 10:38:00 AM,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [3]:
# Import outcome CSV data
outcome_df = pd.read_csv("Resources/Austin_Animal_Center_Outcomes.csv")
outcome_df.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,Chunk,05/08/2019 06:20:00 PM,05/08/2019 06:20:00 PM,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,07/18/2018 04:02:00 PM,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A821648,NaN,08/16/2020 11:38:00 AM,08/16/2020 11:38:00 AM,08/16/2019,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray
3,A720371,Moose,02/13/2016 05:59:00 PM,02/13/2016 05:59:00 PM,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
4,A674754,NaN,03/18/2014 11:47:00 AM,03/18/2014 11:47:00 AM,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby

## Clean Age Data

In [4]:
data = [intake_df["Animal ID"], intake_df["Age upon Intake"]]
headers = ["ID", "Age"]
intake_age_df = pd.concat(data, axis=1, keys=headers)
intake_age_df.head()

        ID        Age
0  A786884    2 years
1  A706918    8 years
2  A724273  11 months
3  A665644    4 weeks
4  A682524    4 years

In [5]:
# new data frame with split value columns
new = intake_age_df["Age"].str.split(" ", n = 1, expand = True)

# making separate columns for the number and string from new data frame
intake_age_df["Age_Value"]= new[0]
intake_age_df["Age_Unit"]= new[1]

intake_age_df.head()

        ID        Age Age_Value Age_Unit
0  A786884    2 years         2    years
1  A706918    8 years         8    years
2  A724273  11 months        11   months
3  A665644    4 weeks         4    weeks
4  A682524    4 years         4    years

In [6]:
unit_counts = intake_age_df.Age_Unit.value_counts()
unit_counts

years     53682
months    28405
year      23251
month     13349
weeks     13057
days       2138
week       1110
day         716
Name: Age_Unit, dtype: int64

In [7]:
# convert ages in months to ages in years

for row in intake_age_df.index:
    if((intake_age_df["Age_Unit"].values[row] == "months") | (intake_age_df["Age_Unit"].values[row] == "month")):
        intake_age_df["Age_Value"].values[row] = float(intake_age_df["Age_Value"].values[row])/12
    if((intake_age_df["Age_Unit"].values[row] == "weeks") | (intake_age_df["Age_Unit"].values[row] == "week")):
        intake_age_df["Age_Value"].values[row] = float(intake_age_df["Age_Value"].values[row])/52
    if((intake_age_df["Age_Unit"].values[row] == "days") | (intake_age_df["Age_Unit"].values[row] == "day")):
        intake_age_df["Age_Value"].values[row] = float(intake_age_df["Age_Value"].values[row])/365
    if((intake_age_df["Age_Unit"].values[row] == "years") | (intake_age_df["Age_Unit"].values[row] == "year")):
        intake_age_df["Age_Value"].values[row] = float(intake_age_df["Age_Value"].values[row])
        
intake_age_df.head()

        ID        Age Age_Value Age_Unit
0  A786884    2 years       2.0    years
1  A706918    8 years       8.0    years
2  A724273  11 months  0.916667   months
3  A665644    4 weeks  0.076923    weeks
4  A682524    4 years       4.0    years

In [8]:
# put converted age back into intake dataframe
intake_df["Age_in_Years"] = intake_age_df["Age_Value"]
intake_df.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Age_in_Years
0,A786884,*Brock,01/03/2019 04:19:00 PM,01/03/2019 04:19:00 PM,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,2.0
1,A706918,Belle,07/05/2015 12:59:00 PM,07/05/2015 12:59:00 PM,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,8.0
2,A724273,Runster,04/14/2016 06:43:00 PM,04/14/2016 06:43:00 PM,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,0.916667
3,A665644,NaN,10/21/2013 07:59:00 AM,10/21/2013 07:59:00 AM,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,0.076923
4,A682524,Rio,06/29/2014 10:38:00 AM,06/29/2014 10:38:00 AM,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,4.0

## Reduce Intake Data to Dogs Only

In [9]:
intake_df = intake_df.loc[intake_df['Animal Type'] == 'Dog']
print(intake_df.shape)
intake_df = intake_df.reset_index(drop=True)
intake_df.head(10)

(76356, 13)

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Age_in_Years
0,A786884,*Brock,01/03/2019 04:19:00 PM,01/03/2019 04:19:00 PM,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,2.0
1,A706918,Belle,07/05/2015 12:59:00 PM,07/05/2015 12:59:00 PM,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,8.0
2,A724273,Runster,04/14/2016 06:43:00 PM,04/14/2016 06:43:00 PM,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,0.916667
3,A682524,Rio,06/29/2014 10:38:00 AM,06/29/2014 10:38:00 AM,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,4.0
4,A743852,Odin,02/18/2017 12:46:00 PM,02/18/2017 12:46:00 PM,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,2 years,Labrador Retriever Mix,Chocolate,2.0
5,A635072,Beowulf,04/16/2019 09:53:00 AM,04/16/2019 09:53:00 AM,415 East Mary Street in Austin (TX),Public Assist,Normal,Dog,Neutered Male,6 years,Great Dane Mix,Black,6.0
6,A708452,Mumble,07/30/2015 02:37:00 PM,07/30/2015 02:37:00 PM,Austin (TX),Public Assist,Normal,Dog,Intact Male,2 years,Labrador Retriever Mix,Black/White,2.0
7,A760053,NaN,10/11/2017 03:46:00 PM,10/11/2017 03:46:00 PM,8800 South First Street in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair,White/Tan,2.0
8,A707375,*Candy Cane,07/11/2015 06:19:00 PM,07/11/2015 06:19:00 PM,Galilee Court And Damita Jo Dr in Manor (TX),Stray,Normal,Dog,Intact Female,5 months,Pit Bull,Brown/White,0.416667
9,A696408,*Pearl,02/04/2015 12:58:00 PM,02/04/2015 12:58:00 PM,9705 Thaxton in Austin (TX),Stray,Normal,Dog,Intact Female,2 years,Chihuahua Shorthair,Tricolor,2.0

## Seperate Spayed/Neutered from Male/Female

In [10]:
data2 = [intake_df["Animal ID"], intake_df["Sex upon Intake"]]
headers = ["ID", "Intake_Sex"]
intake_sex_df = pd.concat(data2, axis=1, keys=headers)
intake_sex_df.head()

        ID     Intake_Sex
0  A786884  Neutered Male
1  A706918  Spayed Female
2  A724273    Intact Male
3  A682524  Neutered Male
4  A743852  Neutered Male

In [11]:
# new data frame with split value columns
new = intake_sex_df["Intake_Sex"].str.split(" ", n = 1, expand = True)

# making separate columns for the classifiers
intake_sex_df["Intactness"]= new[0]
intake_sex_df["Sex"]= new[1]

intake_sex_df.head()

        ID     Intake_Sex Intactness     Sex
0  A786884  Neutered Male   Neutered    Male
1  A706918  Spayed Female     Spayed  Female
2  A724273    Intact Male     Intact    Male
3  A682524  Neutered Male   Neutered    Male
4  A743852  Neutered Male   Neutered    Male

In [12]:
# put converted intactness and Sex back into intake dataframe
intake_df["Intactness"] = intake_sex_df["Intactness"]
intake_df["Sex"] = intake_sex_df["Sex"]
intake_df.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Age_in_Years,Intactness,Sex
0,A786884,*Brock,01/03/2019 04:19:00 PM,01/03/2019 04:19:00 PM,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,2.0,Neutered,Male
1,A706918,Belle,07/05/2015 12:59:00 PM,07/05/2015 12:59:00 PM,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,8.0,Spayed,Female
2,A724273,Runster,04/14/2016 06:43:00 PM,04/14/2016 06:43:00 PM,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,0.916667,Intact,Male
3,A682524,Rio,06/29/2014 10:38:00 AM,06/29/2014 10:38:00 AM,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,4.0,Neutered,Male
4,A743852,Odin,02/18/2017 12:46:00 PM,02/18/2017 12:46:00 PM,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,2 years,Labrador Retriever Mix,Chocolate,2.0,Neutered,Male

In [13]:
for row in intake_df.index:
    if((intake_df["Intactness"].values[row] == "Spayed") | (intake_df["Intactness"].values[row] == "Neutered")):
        intake_df["Intactness"].values[row] = "Altered"

intake_df.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Age_in_Years,Intactness,Sex
0,A786884,*Brock,01/03/2019 04:19:00 PM,01/03/2019 04:19:00 PM,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,2.0,Altered,Male
1,A706918,Belle,07/05/2015 12:59:00 PM,07/05/2015 12:59:00 PM,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,8.0,Altered,Female
2,A724273,Runster,04/14/2016 06:43:00 PM,04/14/2016 06:43:00 PM,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,0.916667,Intact,Male
3,A682524,Rio,06/29/2014 10:38:00 AM,06/29/2014 10:38:00 AM,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,4.0,Altered,Male
4,A743852,Odin,02/18/2017 12:46:00 PM,02/18/2017 12:46:00 PM,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,2 years,Labrador Retriever Mix,Chocolate,2.0,Altered,Male

## Bin Age to Puppy, Young, Adult, and Senior

In [14]:
bin_labels_age = ['Puppy', 'Young', 'Adult', 'Senior']
intake_df['Age'] = pd.cut(intake_df['Age_in_Years'],[0, 1, 3, 7, 20],labels=bin_labels_age)
intake_df.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Age_in_Years,Intactness,Sex,Age
0,A786884,*Brock,01/03/2019 04:19:00 PM,01/03/2019 04:19:00 PM,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,2.0,Altered,Male,Young
1,A706918,Belle,07/05/2015 12:59:00 PM,07/05/2015 12:59:00 PM,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,8.0,Altered,Female,Senior
2,A724273,Runster,04/14/2016 06:43:00 PM,04/14/2016 06:43:00 PM,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,0.916667,Intact,Male,Puppy
3,A682524,Rio,06/29/2014 10:38:00 AM,06/29/2014 10:38:00 AM,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,4.0,Altered,Male,Adult
4,A743852,Odin,02/18/2017 12:46:00 PM,02/18/2017 12:46:00 PM,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,2 years,Labrador Retriever Mix,Chocolate,2.0,Altered,Male,Young

## Indicate if a dog is a pure or mix breed

In [15]:
# create new column for breed type

intake_df["Breed_Type"] = pd.np.where(intake_df.Breed.str.contains("Mix"), "Mix",pd.np.where(intake_df.Breed.str.contains("/"), "Mix", "Pure"))
       
intake_df.head()

/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  This is separate from the ipykernel package so we can avoid doing imports until

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Age_in_Years,Intactness,Sex,Age,Breed_Type
0,A786884,*Brock,01/03/2019 04:19:00 PM,01/03/2019 04:19:00 PM,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,2.0,Altered,Male,Young,Mix
1,A706918,Belle,07/05/2015 12:59:00 PM,07/05/2015 12:59:00 PM,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,8.0,Altered,Female,Senior,Pure
2,A724273,Runster,04/14/2016 06:43:00 PM,04/14/2016 06:43:00 PM,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,0.916667,Intact,Male,Puppy,Mix
3,A682524,Rio,06/29/2014 10:38:00 AM,06/29/2014 10:38:00 AM,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,4.0,Altered,Male,Adult,Mix
4,A743852,Odin,02/18/2017 12:46:00 PM,02/18/2017 12:46:00 PM,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,2 years,Labrador Retriever Mix,Chocolate,2.0,Altered,Male,Young,Mix

## Reduce Outcome Data to Dogs Only

In [16]:
outcome_df = outcome_df.loc[outcome_df['Animal Type'] == 'Dog']
print(outcome_df.shape)
outcome_df = outcome_df.reset_index(drop=True)
outcome_df.head(5)

(76374, 12)

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A776359,Gizmo,07/18/2018 04:02:00 PM,07/18/2018 04:02:00 PM,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
1,A720371,Moose,02/13/2016 05:59:00 PM,02/13/2016 05:59:00 PM,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
2,A659412,Princess,10/05/2020 02:37:00 PM,10/05/2020 02:37:00 PM,03/24/2013,Adoption,NaN,Dog,Spayed Female,7 years,Chihuahua Shorthair Mix,Brown
3,A814515,Quentin,05/06/2020 07:59:00 AM,05/06/2020 07:59:00 AM,03/01/2018,Adoption,Foster,Dog,Neutered Male,2 years,American Foxhound/Labrador Retriever,White/Brown
4,A840370,Tulip,08/19/2021 07:36:00 PM,08/19/2021 07:36:00 PM,08/06/2019,Adoption,NaN,Dog,Spayed Female,2 years,Border Collie/Cardigan Welsh Corgi,Black/White

# Merge Intake and Outcome DataFrames

In [17]:
intake_sort_df = intake_df.sort_values(by=['DateTime'], ascending=True)

intake_sort_df.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Age_in_Years,Intactness,Sex,Age,Breed_Type
20251,A670057,Brownie,01/01/2014 01:05:00 PM,01/01/2014 01:05:00 PM,S Lamar And Ben White in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chow Chow Mix,Red,2.0,Intact,Male,Young,Mix
14972,A670059,NaN,01/01/2014 01:31:00 PM,01/01/2014 01:31:00 PM,11402 Robert Wooding in Austin (TX),Stray,Normal,Dog,Spayed Female,1 year,West Highland,White,1.0,Altered,Female,Puppy,Pure
58174,A670061,Koda,01/01/2014 01:33:00 PM,01/01/2014 01:33:00 PM,Austin (TX),Owner Surrender,Normal,Dog,Intact Male,2 years,Chow Chow Mix,Red,2.0,Intact,Male,Young,Mix
29263,A670064,NaN,01/01/2014 01:57:00 PM,01/01/2014 01:57:00 PM,Gunter St And Gonzalez in Austin (TX),Stray,Normal,Dog,Intact Female,3 months,Pit Bull/Pit Bull,Red,0.25,Intact,Female,Puppy,Mix
24785,A670065,Muneca,01/01/2014 02:11:00 PM,01/01/2014 02:11:00 PM,Applewood Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,7 years,Australian Shepherd/Chow Chow,Red/White,7.0,Altered,Female,Adult,Mix

In [18]:
outcome_sort_df = outcome_df.sort_values(by=['DateTime'], ascending=True)

outcome_sort_df.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
56561,A669926,NaN,01/01/2014 01:00:00 PM,01/01/2014 01:00:00 PM,05/30/2013,Transfer,Partner,Dog,Intact Female,7 months,Plott Hound/Black/Tan Hound,Brown/Tan
61744,A668314,Duke,01/01/2014 01:30:00 PM,01/01/2014 01:30:00 PM,12/02/2012,Transfer,Partner,Dog,Neutered Male,1 year,Labrador Retriever Mix,Chocolate/White
47473,A666770,Josh,01/01/2014 01:32:00 PM,01/01/2014 01:32:00 PM,11/07/2010,Adoption,NaN,Dog,Neutered Male,3 years,Siberian Husky Mix,Black/Brown
41048,A668337,*Tony,01/01/2014 01:42:00 PM,01/01/2014 01:42:00 PM,12/02/2012,Euthanasia,Behavior,Dog,Intact Male,1 year,Pit Bull Mix,Brown Brindle/White
22109,A663273,Diamond,01/01/2014 01:44:00 PM,01/01/2014 01:44:00 PM,09/16/2011,Euthanasia,Behavior,Dog,Spayed Female,2 years,Catahoula Mix,Tan/Yellow Brindle

In [19]:
intake_sort_df = intake_sort_df.drop(columns=['MonthYear', 'Sex upon Intake','Age upon Intake'])
intake_sort_df.head()

,Animal ID,Name,DateTime,Found Location,Intake Type,Intake Condition,Animal Type,Breed,Color,Age_in_Years,Intactness,Sex,Age,Breed_Type
20251,A670057,Brownie,01/01/2014 01:05:00 PM,S Lamar And Ben White in Austin (TX),Stray,Normal,Dog,Chow Chow Mix,Red,2.0,Intact,Male,Young,Mix
14972,A670059,NaN,01/01/2014 01:31:00 PM,11402 Robert Wooding in Austin (TX),Stray,Normal,Dog,West Highland,White,1.0,Altered,Female,Puppy,Pure
58174,A670061,Koda,01/01/2014 01:33:00 PM,Austin (TX),Owner Surrender,Normal,Dog,Chow Chow Mix,Red,2.0,Intact,Male,Young,Mix
29263,A670064,NaN,01/01/2014 01:57:00 PM,Gunter St And Gonzalez in Austin (TX),Stray,Normal,Dog,Pit Bull/Pit Bull,Red,0.25,Intact,Female,Puppy,Mix
24785,A670065,Muneca,01/01/2014 02:11:00 PM,Applewood Dr in Austin (TX),Stray,Normal,Dog,Australian Shepherd/Chow Chow,Red/White,7.0,Altered,Female,Adult,Mix

In [20]:
outcome_sort_df = outcome_sort_df.drop(columns=['MonthYear', 'Date of Birth','Outcome Subtype','Animal Type','Sex upon Outcome','Age upon Outcome','Breed','Color'])
outcome_sort_df.head()

      Animal ID     Name                DateTime Outcome Type
56561   A669926      NaN  01/01/2014 01:00:00 PM     Transfer
61744   A668314     Duke  01/01/2014 01:30:00 PM     Transfer
47473   A666770     Josh  01/01/2014 01:32:00 PM     Adoption
41048   A668337    *Tony  01/01/2014 01:42:00 PM   Euthanasia
22109   A663273  Diamond  01/01/2014 01:44:00 PM   Euthanasia

In [21]:
from datetime import datetime
intake_sort_df['in_Y_m_d'] = pd.to_datetime(intake_sort_df.DateTime)
intake_sort_df['in_Y_m_d'] = intake_sort_df['in_Y_m_d'].dt.strftime('%Y/%m/%d')
intake_sort_df['in_Y_m_d']=intake_sort_df['in_Y_m_d'].astype(str)

intake_sort_df = intake_sort_df.sort_values(['Animal ID','in_Y_m_d'], ascending=[True,True])
intake_sort_df = intake_sort_df.reset_index(drop=True)
print(intake_sort_df.shape)
intake_sort_df.head()

(76356, 15)

,Animal ID,Name,DateTime,Found Location,Intake Type,Intake Condition,Animal Type,Breed,Color,Age_in_Years,Intactness,Sex,Age,Breed_Type,in_Y_m_d
0,A006100,Scamp,03/07/2014 02:26:00 PM,8700 Research in Austin (TX),Public Assist,Normal,Dog,Spinone Italiano Mix,Yellow/White,6.0,Altered,Male,Adult,Mix,2014/03/07
1,A006100,Scamp,12/19/2014 10:21:00 AM,8700 Research Blvd in Austin (TX),Public Assist,Normal,Dog,Spinone Italiano Mix,Yellow/White,7.0,Altered,Male,Adult,Mix,2014/12/19
2,A006100,Scamp,12/07/2017 02:07:00 PM,Colony Creek And Hunters Trace in Austin (TX),Stray,Normal,Dog,Spinone Italiano Mix,Yellow/White,10.0,Altered,Male,Senior,Mix,2017/12/07
3,A047759,Oreo,04/02/2014 03:55:00 PM,Austin (TX),Owner Surrender,Normal,Dog,Dachshund,Tricolor,10.0,Altered,Male,Senior,Pure,2014/04/02
4,A134067,Bandit,11/16/2013 09:02:00 AM,12034 Research Blvd in Austin (TX),Public Assist,Injured,Dog,Shetland Sheepdog,Brown/White,16.0,Altered,Male,Senior,Pure,2013/11/16

In [22]:
outcome_sort_df['out_Y_m_d'] = pd.to_datetime(outcome_sort_df.DateTime)
outcome_sort_df['out_Y_m_d'] = outcome_sort_df['out_Y_m_d'].dt.strftime('%Y/%m/%d')
outcome_sort_df['out_Y_m_d']=outcome_sort_df['out_Y_m_d'].astype(str)

outcome_sort_df = outcome_sort_df.sort_values(['Animal ID','out_Y_m_d'], ascending=[True,True])
outcome_sort_df = outcome_sort_df.reset_index(drop=True)
print(outcome_sort_df.shape)
outcome_sort_df.head()

(76374, 5)

  Animal ID    Name                DateTime     Outcome Type   out_Y_m_d
0   A006100   Scamp  03/08/2014 05:10:00 PM  Return to Owner  2014/03/08
1   A006100   Scamp  12/20/2014 04:35:00 PM  Return to Owner  2014/12/20
2   A006100   Scamp  12/07/2017 12:00:00 AM  Return to Owner  2017/12/07
3   A047759    Oreo  04/07/2014 03:12:00 PM         Transfer  2014/04/07
4   A134067  Bandit  11/16/2013 11:54:00 AM  Return to Owner  2013/11/16

In [23]:
intake_sort_df = intake_sort_df.drop(columns=["DateTime","Animal Type","Found Location"])
outcome_sort_df = outcome_sort_df.drop(columns=["Name","DateTime"])
data_df=pd.merge(intake_sort_df, outcome_sort_df, on="Animal ID")
data_df.head()

,Animal ID,Name,Intake Type,Intake Condition,Breed,Color,Age_in_Years,Intactness,Sex,Age,Breed_Type,in_Y_m_d,Outcome Type,out_Y_m_d
0,A006100,Scamp,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,6.0,Altered,Male,Adult,Mix,2014/03/07,Return to Owner,2014/03/08
1,A006100,Scamp,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,6.0,Altered,Male,Adult,Mix,2014/03/07,Return to Owner,2014/12/20
2,A006100,Scamp,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,6.0,Altered,Male,Adult,Mix,2014/03/07,Return to Owner,2017/12/07
3,A006100,Scamp,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,7.0,Altered,Male,Adult,Mix,2014/12/19,Return to Owner,2014/03/08
4,A006100,Scamp,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,7.0,Altered,Male,Adult,Mix,2014/12/19,Return to Owner,2014/12/20

In [24]:
data_df_filtered = data_df[data_df['out_Y_m_d'] >= data_df["in_Y_m_d"]]
print(data_df_filtered.shape)
data_df_filtered.head()

(93382, 14)

,Animal ID,Name,Intake Type,Intake Condition,Breed,Color,Age_in_Years,Intactness,Sex,Age,Breed_Type,in_Y_m_d,Outcome Type,out_Y_m_d
0,A006100,Scamp,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,6.0,Altered,Male,Adult,Mix,2014/03/07,Return to Owner,2014/03/08
1,A006100,Scamp,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,6.0,Altered,Male,Adult,Mix,2014/03/07,Return to Owner,2014/12/20
2,A006100,Scamp,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,6.0,Altered,Male,Adult,Mix,2014/03/07,Return to Owner,2017/12/07
4,A006100,Scamp,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,7.0,Altered,Male,Adult,Mix,2014/12/19,Return to Owner,2014/12/20
5,A006100,Scamp,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,7.0,Altered,Male,Adult,Mix,2014/12/19,Return to Owner,2017/12/07

In [25]:
data_df_filt = data_df_filtered.reset_index(drop=True)
data_df_filt["Drop"] = ""
for row in (data_df_filt.index):
    prevrow = row - 1
    if(((prevrow) >= 0) and (row <= 110681)):
        if((data_df_filt["Animal ID"].values[row] ==  data_df_filt["Animal ID"].values[prevrow]) and (data_df_filt["in_Y_m_d"].values[row] == data_df_filt["in_Y_m_d"].values[prevrow]) and (data_df_filt["out_Y_m_d"]).values[row] > data_df_filt["out_Y_m_d"].values[prevrow]):
            data_df_filt["Drop"].values[row] = "Yes"
        else:
            data_df_filt["Drop"].values[row] = "No"
    else:
        data_df_filt["Drop"].values[row] = "No"
print(data_df_filt.shape)
data_df_filt.head()

(93382, 15)

,Animal ID,Name,Intake Type,Intake Condition,Breed,Color,Age_in_Years,Intactness,Sex,Age,Breed_Type,in_Y_m_d,Outcome Type,out_Y_m_d,Drop
0,A006100,Scamp,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,6.0,Altered,Male,Adult,Mix,2014/03/07,Return to Owner,2014/03/08,No
1,A006100,Scamp,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,6.0,Altered,Male,Adult,Mix,2014/03/07,Return to Owner,2014/12/20,Yes
2,A006100,Scamp,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,6.0,Altered,Male,Adult,Mix,2014/03/07,Return to Owner,2017/12/07,Yes
3,A006100,Scamp,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,7.0,Altered,Male,Adult,Mix,2014/12/19,Return to Owner,2014/12/20,No
4,A006100,Scamp,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,7.0,Altered,Male,Adult,Mix,2014/12/19,Return to Owner,2017/12/07,Yes

In [26]:
merged_df = data_df_filt[data_df_filt['Drop'] == "No"]
merged_df = merged_df.reset_index(drop=True)
print(merged_df.shape)
merged_df.head()

(75991, 15)

,Animal ID,Name,Intake Type,Intake Condition,Breed,Color,Age_in_Years,Intactness,Sex,Age,Breed_Type,in_Y_m_d,Outcome Type,out_Y_m_d,Drop
0,A006100,Scamp,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,6.0,Altered,Male,Adult,Mix,2014/03/07,Return to Owner,2014/03/08,No
1,A006100,Scamp,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,7.0,Altered,Male,Adult,Mix,2014/12/19,Return to Owner,2014/12/20,No
2,A006100,Scamp,Stray,Normal,Spinone Italiano Mix,Yellow/White,10.0,Altered,Male,Senior,Mix,2017/12/07,Return to Owner,2017/12/07,No
3,A047759,Oreo,Owner Surrender,Normal,Dachshund,Tricolor,10.0,Altered,Male,Senior,Pure,2014/04/02,Transfer,2014/04/07,No
4,A134067,Bandit,Public Assist,Injured,Shetland Sheepdog,Brown/White,16.0,Altered,Male,Senior,Pure,2013/11/16,Return to Owner,2013/11/16,No

## Determine each dog's length of stay

In [27]:
merged_df["Length_of_Stay"] = (merged_df["out_Y_m_d"].apply(pd.to_datetime) - merged_df["in_Y_m_d"].apply(pd.to_datetime)).dt.days + 1
merged_df.head()

,Animal ID,Name,Intake Type,Intake Condition,Breed,Color,Age_in_Years,Intactness,Sex,Age,Breed_Type,in_Y_m_d,Outcome Type,out_Y_m_d,Drop,Length_of_Stay
0,A006100,Scamp,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,6.0,Altered,Male,Adult,Mix,2014/03/07,Return to Owner,2014/03/08,No,2
1,A006100,Scamp,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,7.0,Altered,Male,Adult,Mix,2014/12/19,Return to Owner,2014/12/20,No,2
2,A006100,Scamp,Stray,Normal,Spinone Italiano Mix,Yellow/White,10.0,Altered,Male,Senior,Mix,2017/12/07,Return to Owner,2017/12/07,No,1
3,A047759,Oreo,Owner Surrender,Normal,Dachshund,Tricolor,10.0,Altered,Male,Senior,Pure,2014/04/02,Transfer,2014/04/07,No,6
4,A134067,Bandit,Public Assist,Injured,Shetland Sheepdog,Brown/White,16.0,Altered,Male,Senior,Pure,2013/11/16,Return to Owner,2013/11/16,No,1

## Consolidate Intake Condition

In [28]:
merged_df.rename({'Intake Condition': 'Intake_Condition', 'Intake Type': 'Intake_Type', 'Outcome Type': 'Outcome_Type'}, axis=1, inplace=True)

merged_df.Intake_Condition.value_counts()

Normal        68631
Injured        3377
Sick           1931
Nursing        1244
Aged            391
Other           133
Medical         108
Pregnant         71
Neonatal         52
Behavior         39
Feral            10
Med Urgent        2
Med Attn          2
Name: Intake_Condition, dtype: int64

In [29]:
for row in merged_df.index:
    if((merged_df["Intake_Condition"].values[row] == "Med Urgent") | (merged_df["Intake_Condition"].values[row] == "Med Attn")):
        merged_df["Intake_Condition"].values[row] = "Medical"

merged_df.Intake_Condition.value_counts()

Normal      68631
Injured      3377
Sick         1931
Nursing      1244
Aged          391
Other         133
Medical       112
Pregnant       71
Neonatal       52
Behavior       39
Feral          10
Name: Intake_Condition, dtype: int64

## Determine if Intake Type needs to be consolidated
### Determined not to consolidate

In [30]:
merged_df.Intake_Type.value_counts()

Stray                 52420
Owner Surrender       16553
Public Assist          6548
Abandoned               286
Euthanasia Request      183
Wildlife                  1
Name: Intake_Type, dtype: int64

In [31]:
sort = merged_df[merged_df["Intake_Type"] == "Wildlife"]

sort

,Animal ID,Name,Intake_Type,Intake_Condition,Breed,Color,Age_in_Years,Intactness,Sex,Age,Breed_Type,in_Y_m_d,Outcome_Type,out_Y_m_d,Drop,Length_of_Stay
74640,A844562,Red,Wildlife,Sick,Labrador Retriever,Red/Brown,12.0,Altered,Male,Senior,Pure,2021/10/17,Return to Owner,2021/10/17,No,1

## Seperate Month and Year fromr In_Y_md

In [32]:
data3 = [merged_df["Animal ID"], merged_df["in_Y_m_d"]]
headers = ["ID", "in_Y_m_d"]
year_month_df = pd.concat(data3, axis=1, keys=headers)

# new data frame with split value columns
new = year_month_df["in_Y_m_d"].str.split("/", n = 2, expand = True)

# making separate columns for the classifiers
year_month_df["Year"]= new[0]
year_month_df["Month"]= new[1]

year_month_df.head()

        ID    in_Y_m_d  Year Month
0  A006100  2014/03/07  2014    03
1  A006100  2014/12/19  2014    12
2  A006100  2017/12/07  2017    12
3  A047759  2014/04/02  2014    04
4  A134067  2013/11/16  2013    11

In [33]:
merged_df["in_Month"] = year_month_df["Month"]
merged_df["in_Year"] = year_month_df["Year"]
merged_df.head()

,Animal ID,Name,Intake_Type,Intake_Condition,Breed,Color,Age_in_Years,Intactness,Sex,Age,Breed_Type,in_Y_m_d,Outcome_Type,out_Y_m_d,Drop,Length_of_Stay,in_Month,in_Year
0,A006100,Scamp,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,6.0,Altered,Male,Adult,Mix,2014/03/07,Return to Owner,2014/03/08,No,2,03,2014
1,A006100,Scamp,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,7.0,Altered,Male,Adult,Mix,2014/12/19,Return to Owner,2014/12/20,No,2,12,2014
2,A006100,Scamp,Stray,Normal,Spinone Italiano Mix,Yellow/White,10.0,Altered,Male,Senior,Mix,2017/12/07,Return to Owner,2017/12/07,No,1,12,2017
3,A047759,Oreo,Owner Surrender,Normal,Dachshund,Tricolor,10.0,Altered,Male,Senior,Pure,2014/04/02,Transfer,2014/04/07,No,6,04,2014
4,A134067,Bandit,Public Assist,Injured,Shetland Sheepdog,Brown/White,16.0,Altered,Male,Senior,Pure,2013/11/16,Return to Owner,2013/11/16,No,1,11,2013

In [34]:
merged_df = merged_df.drop(columns=["Name","in_Y_m_d","out_Y_m_d","Drop"])
merged_df.head()

,Animal ID,Intake_Type,Intake_Condition,Breed,Color,Age_in_Years,Intactness,Sex,Age,Breed_Type,Outcome_Type,Length_of_Stay,in_Month,in_Year
0,A006100,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,6.0,Altered,Male,Adult,Mix,Return to Owner,2,03,2014
1,A006100,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,7.0,Altered,Male,Adult,Mix,Return to Owner,2,12,2014
2,A006100,Stray,Normal,Spinone Italiano Mix,Yellow/White,10.0,Altered,Male,Senior,Mix,Return to Owner,1,12,2017
3,A047759,Owner Surrender,Normal,Dachshund,Tricolor,10.0,Altered,Male,Senior,Pure,Transfer,6,04,2014
4,A134067,Public Assist,Injured,Shetland Sheepdog,Brown/White,16.0,Altered,Male,Senior,Pure,Return to Owner,1,11,2013

## Clean Breed Data and Add Breed Group and Breed Size

In [35]:
breed_counts = merged_df.Breed.value_counts()
breed_counts

Pit Bull Mix                                      8793
Labrador Retriever Mix                            7288
Chihuahua Shorthair Mix                           6442
German Shepherd Mix                               3254
Pit Bull                                          1761
                                                  ...
Chihuahua Shorthair/Shiba Inu                        1
Yorkshire Terrier/Australian Terrier                 1
Australian Cattle Dog/Treeing Walker Coonhound       1
Whippet/Anatol Shepherd                              1
Miniature Poodle/Standard Schnauzer                  1
Name: Breed, Length: 2404, dtype: int64

In [36]:
data4 = [merged_df["Animal ID"], merged_df["Breed"]]
headers = ["ID", "Breed"]
breed_df = pd.concat(data4, axis=1, keys=headers)
breed_df.head()

# new data frame with split value columns
new4 = breed_df["Breed"].str.split(" ", expand = True)

# making separate columns for the number and string from new data frame
breed_df["Breed1"]= new4[0]
breed_df["Breed2"]= new4[1]
breed_df["Breed3"]= new4[2]
breed_df["Breed4"]= new4[3]
breed_df["Breed5"]= new4[4]
breed_df['Breed5'] = breed_df['Breed5'].fillna(0)
breed_df['Breed4'] = breed_df['Breed4'].fillna(0)
breed_df['Breed3'] = breed_df['Breed3'].fillna(0)
breed_df['Breed2'] = breed_df['Breed2'].fillna(0)
breed_df.head()

        ID                 Breed     Breed1    Breed2 Breed3 Breed4 Breed5
0  A006100  Spinone Italiano Mix    Spinone  Italiano    Mix      0      0
1  A006100  Spinone Italiano Mix    Spinone  Italiano    Mix      0      0
2  A006100  Spinone Italiano Mix    Spinone  Italiano    Mix      0      0
3  A047759             Dachshund  Dachshund         0      0      0      0
4  A134067     Shetland Sheepdog   Shetland  Sheepdog      0      0      0

In [37]:
for row in (breed_df.index):
    if((breed_df["Breed2"].values[row] == "Mix") | (breed_df["Breed2"].values[row] == 0)):
        breed_df["Breed2"].values[row] = ""
    if((breed_df["Breed3"].values[row] == "Mix") | (breed_df["Breed3"].values[row] == 0)):
        breed_df["Breed3"].values[row] = ""
    if((breed_df["Breed4"].values[row] == "Mix") | (breed_df["Breed4"].values[row] == 0)):
        breed_df["Breed4"].values[row] = ""
    if((breed_df["Breed5"].values[row] == "Mix") | (breed_df["Breed5"].values[row] == 0)):
        breed_df["Breed5"].values[row] = ""

breed_df.head()

        ID                 Breed     Breed1    Breed2 Breed3 Breed4 Breed5
0  A006100  Spinone Italiano Mix    Spinone  Italiano
1  A006100  Spinone Italiano Mix    Spinone  Italiano
2  A006100  Spinone Italiano Mix    Spinone  Italiano
3  A047759             Dachshund  Dachshund
4  A134067     Shetland Sheepdog   Shetland  Sheepdog

In [38]:
breed_df["updated"] = ""
for row in (breed_df.index):
    if(breed_df["Breed5"].values[row] != ""):
        breed_df["updated"].values[row]=breed_df["Breed1"].values[row]+' '+breed_df["Breed2"].values[row]+' '+breed_df["Breed3"].values[row]+' '+breed_df["Breed4"].values[row]+' '+breed_df["Breed5"].values[row]
    elif(breed_df["Breed4"].values[row] != ""):
        breed_df["updated"].values[row]=breed_df["Breed1"].values[row]+' '+breed_df["Breed2"].values[row]+' '+breed_df["Breed3"].values[row]+' '+breed_df["Breed4"].values[row]
    elif(breed_df["Breed3"].values[row] != ""):
        breed_df["updated"].values[row]=breed_df["Breed1"].values[row]+' '+breed_df["Breed2"].values[row]+' '+breed_df["Breed3"].values[row]
    elif(breed_df["Breed2"].values[row] != ""):
        breed_df["updated"].values[row]=breed_df["Breed1"].values[row]+' '+breed_df["Breed2"].values[row]
    elif(breed_df["Breed1"].values[row] != ""):
        breed_df["updated"].values[row]=breed_df["Breed1"].values[row]
breed_df.head()

,ID,Breed,Breed1,Breed2,Breed3,Breed4,Breed5,updated
0,A006100,Spinone Italiano Mix,Spinone,Italiano,,,,Spinone Italiano
1,A006100,Spinone Italiano Mix,Spinone,Italiano,,,,Spinone Italiano
2,A006100,Spinone Italiano Mix,Spinone,Italiano,,,,Spinone Italiano
3,A047759,Dachshund,Dachshund,,,,,Dachshund
4,A134067,Shetland Sheepdog,Shetland,Sheepdog,,,,Shetland Sheepdog

In [39]:
# new data frame with split value columns
new6 = breed_df["updated"].str.split("/", expand = True)

# making separate columns for the number and string from new data frame
breed_df["First_Breed"]= new6[0]
breed_df["Second_Breed"]= new6[1]
breed_df["Third_Breed"]= new6[2]

breed_df['Second_Breed'] = breed_df['Second_Breed'].fillna("")
breed_df[breed_df['Second_Breed'] == "Black"]

,ID,Breed,Breed1,Breed2,Breed3,Breed4,Breed5,updated,First_Breed,Second_Breed,Third_Breed
3227,A646814,German Shepherd/Black/Tan Hound,German,Shepherd/Black/Tan,Hound,,,German Shepherd/Black/Tan Hound,German Shepherd,Black,Tan Hound
4459,A664780,Labrador Retriever/Black/Tan Hound,Labrador,Retriever/Black/Tan,Hound,,,Labrador Retriever/Black/Tan Hound,Labrador Retriever,Black,Tan Hound
4460,A664781,Labrador Retriever/Black/Tan Hound,Labrador,Retriever/Black/Tan,Hound,,,Labrador Retriever/Black/Tan Hound,Labrador Retriever,Black,Tan Hound
4461,A664782,Labrador Retriever/Black/Tan Hound,Labrador,Retriever/Black/Tan,Hound,,,Labrador Retriever/Black/Tan Hound,Labrador Retriever,Black,Tan Hound
4462,A664783,Labrador Retriever/Black/Tan Hound,Labrador,Retriever/Black/Tan,Hound,,,Labrador Retriever/Black/Tan Hound,Labrador Retriever,Black,Tan Hound
6786,A669926,Plott Hound/Black/Tan Hound,Plott,Hound/Black/Tan,Hound,,,Plott Hound/Black/Tan Hound,Plott Hound,Black,Tan Hound
9412,A675680,German Shepherd/Black/Tan Hound,German,Shepherd/Black/Tan,Hound,,,German Shepherd/Black/Tan Hound,German Shepherd,Black,Tan Hound
9413,A675680,German Shepherd/Black/Tan Hound,German,Shepherd/Black/Tan,Hound,,,German Shepherd/Black/Tan Hound,German Shepherd,Black,Tan Hound
9414,A675680,German Shepherd/Black/Tan Hound,German,Shepherd/Black/Tan,Hound,,,German Shepherd/Black/Tan Hound,German Shepherd,Black,Tan Hound
15274,A690356,German Shepherd/Black/Tan Hound,German,Shepherd/Black/Tan,Hound,,,German Shepherd/Black/Tan Hound,German Shepherd,Black,Tan Hound
18034,A695953,Labrador Retriever/Black/Tan Hound,Labrador,Retriever/Black/Tan,Hound,,,Labrador Retriever/Black/Tan Hound,Labrador Retriever,Black,Tan Hound
23888,A710302,German Shepherd/Black/Tan Hound,German,Shepherd/Black/Tan,Hound,,,German Shepherd/Black/Tan Hound,German Shepherd,Black,Tan Hound
32692,A731183,Doberman Pinsch/Black/Tan Hound,Doberman,Pinsch/Black/Tan,Hound,,,Doberman Pinsch/Black/Tan Hound,Doberman Pinsch,Black,Tan Hound
39173,A746024,Labrador Retriever/Black/Tan Hound,Labrador,Retriever/Black/Tan,Hound,,,Labrador Retriever/Black/Tan Hound,Labrador Retriever,Black,Tan Hound
39468,A746709,Basset Hound/Black/Tan Hound,Basset,Hound/Black/Tan,Hound,,,Basset Hound/Black/Tan Hound,Basset Hound,Black,Tan Hound
47692,A767425,German Shepherd/Black/Tan Hound,German,Shepherd/Black/Tan,Hound,,,German Shepherd/Black/Tan Hound,German Shepherd,Black,Tan Hound
47693,A767425,German Shepherd/Black/Tan Hound,German,Shepherd/Black/Tan,Hound,,,German Shepherd/Black/Tan Hound,German Shepherd,Black,Tan Hound
55300,A786134,Dachshund/Black/Tan Hound,Dachshund/Black/Tan,Hound,,,,Dachshund/Black/Tan Hound,Dachshund,Black,Tan Hound
61374,A800810,Labrador Retriever/Black/Tan Hound,Labrador,Retriever/Black/Tan,Hound,,,Labrador Retriever/Black/Tan Hound,Labrador Retriever,Black,Tan Hound
61375,A800810,Labrador Retriever/Black/Tan Hound,Labrador,Retriever/Black/Tan,Hound,,,Labrador Retriever/Black/Tan Hound,Labrador Retriever,Black,Tan Hound
70469,A828048,Labrador Retriever/Black/Tan Hound,Labrador,Retriever/Black/Tan,Hound,,,Labrador Retriever/Black/Tan Hound,Labrador Retriever,Black,Tan Hound
72042,A835062,Labrador Retriever/Black/Tan Hound,Labrador,Retriever/Black/Tan,Hound,,,Labrador Retriever/Black/Tan Hound,Labrador Retriever,Black,Tan Hound
72161,A835615,Labrador Retriever/Black/Tan Hound,Labrador,Retriever/Black/Tan,Hound,,,Labrador Retriever/Black/Tan Hound,Labrador Retriever,Black,Tan Hound
72163,A835617,Labrador Retriever/Black/Tan Hound,Labrador,Retriever/Black/Tan,Hound,,,Labrador Retriever/Black/Tan Hound,Labrador Retriever,Black,Tan Hound
72164,A835618,Labrador Retriever/Black/Tan Hound,Labrador,Retriever/Black/Tan,Hound,,,Labrador Retriever/Black/Tan Hound,Labrador Retriever,Black,Tan Hound
72165,A835620,Labrador Retriever/Black/Tan Hound,Labrador,Retriever/Black/Tan,Hound,,,Labrador Retriever/Black/Tan Hound,Labrador Retriever,Black,Tan Hound

In [40]:
for row in breed_df.index:
    if((breed_df["First_Breed"].values[row] == "Black") and (breed_df["Second_Breed"].values[row] == "Tan Hound")):
        breed_df["First_Breed"].values[row] = "Black and Tan Hound"
        breed_df["Second_Breed"].values[row] = breed_df["Third_Breed"].values[row]
    if((breed_df["Second_Breed"].values[row] == "Black") and (breed_df["Third_Breed"].values[row] == "Tan Hound")):
        breed_df["Second_Breed"].values[row] = "Black and Tan Hound"

breed_df['Second_Breed'] = breed_df['Second_Breed'].fillna("")
breed_df[breed_df["Second_Breed"] == "Black and Tan Hound"]

,ID,Breed,Breed1,Breed2,Breed3,Breed4,Breed5,updated,First_Breed,Second_Breed,Third_Breed
3227,A646814,German Shepherd/Black/Tan Hound,German,Shepherd/Black/Tan,Hound,,,German Shepherd/Black/Tan Hound,German Shepherd,Black and Tan Hound,Tan Hound
4459,A664780,Labrador Retriever/Black/Tan Hound,Labrador,Retriever/Black/Tan,Hound,,,Labrador Retriever/Black/Tan Hound,Labrador Retriever,Black and Tan Hound,Tan Hound
4460,A664781,Labrador Retriever/Black/Tan Hound,Labrador,Retriever/Black/Tan,Hound,,,Labrador Retriever/Black/Tan Hound,Labrador Retriever,Black and Tan Hound,Tan Hound
4461,A664782,Labrador Retriever/Black/Tan Hound,Labrador,Retriever/Black/Tan,Hound,,,Labrador Retriever/Black/Tan Hound,Labrador Retriever,Black and Tan Hound,Tan Hound
4462,A664783,Labrador Retriever/Black/Tan Hound,Labrador,Retriever/Black/Tan,Hound,,,Labrador Retriever/Black/Tan Hound,Labrador Retriever,Black and Tan Hound,Tan Hound
6786,A669926,Plott Hound/Black/Tan Hound,Plott,Hound/Black/Tan,Hound,,,Plott Hound/Black/Tan Hound,Plott Hound,Black and Tan Hound,Tan Hound
9412,A675680,German Shepherd/Black/Tan Hound,German,Shepherd/Black/Tan,Hound,,,German Shepherd/Black/Tan Hound,German Shepherd,Black and Tan Hound,Tan Hound
9413,A675680,German Shepherd/Black/Tan Hound,German,Shepherd/Black/Tan,Hound,,,German Shepherd/Black/Tan Hound,German Shepherd,Black and Tan Hound,Tan Hound
9414,A675680,German Shepherd/Black/Tan Hound,German,Shepherd/Black/Tan,Hound,,,German Shepherd/Black/Tan Hound,German Shepherd,Black and Tan Hound,Tan Hound
15274,A690356,German Shepherd/Black/Tan Hound,German,Shepherd/Black/Tan,Hound,,,German Shepherd/Black/Tan Hound,German Shepherd,Black and Tan Hound,Tan Hound
18034,A695953,Labrador Retriever/Black/Tan Hound,Labrador,Retriever/Black/Tan,Hound,,,Labrador Retriever/Black/Tan Hound,Labrador Retriever,Black and Tan Hound,Tan Hound
23888,A710302,German Shepherd/Black/Tan Hound,German,Shepherd/Black/Tan,Hound,,,German Shepherd/Black/Tan Hound,German Shepherd,Black and Tan Hound,Tan Hound
32692,A731183,Doberman Pinsch/Black/Tan Hound,Doberman,Pinsch/Black/Tan,Hound,,,Doberman Pinsch/Black/Tan Hound,Doberman Pinsch,Black and Tan Hound,Tan Hound
39173,A746024,Labrador Retriever/Black/Tan Hound,Labrador,Retriever/Black/Tan,Hound,,,Labrador Retriever/Black/Tan Hound,Labrador Retriever,Black and Tan Hound,Tan Hound
39468,A746709,Basset Hound/Black/Tan Hound,Basset,Hound/Black/Tan,Hound,,,Basset Hound/Black/Tan Hound,Basset Hound,Black and Tan Hound,Tan Hound
47692,A767425,German Shepherd/Black/Tan Hound,German,Shepherd/Black/Tan,Hound,,,German Shepherd/Black/Tan Hound,German Shepherd,Black and Tan Hound,Tan Hound
47693,A767425,German Shepherd/Black/Tan Hound,German,Shepherd/Black/Tan,Hound,,,German Shepherd/Black/Tan Hound,German Shepherd,Black and Tan Hound,Tan Hound
55300,A786134,Dachshund/Black/Tan Hound,Dachshund/Black/Tan,Hound,,,,Dachshund/Black/Tan Hound,Dachshund,Black and Tan Hound,Tan Hound
61374,A800810,Labrador Retriever/Black/Tan Hound,Labrador,Retriever/Black/Tan,Hound,,,Labrador Retriever/Black/Tan Hound,Labrador Retriever,Black and Tan Hound,Tan Hound
61375,A800810,Labrador Retriever/Black/Tan Hound,Labrador,Retriever/Black/Tan,Hound,,,Labrador Retriever/Black/Tan Hound,Labrador Retriever,Black and Tan Hound,Tan Hound
70469,A828048,Labrador Retriever/Black/Tan Hound,Labrador,Retriever/Black/Tan,Hound,,,Labrador Retriever/Black/Tan Hound,Labrador Retriever,Black and Tan Hound,Tan Hound
72042,A835062,Labrador Retriever/Black/Tan Hound,Labrador,Retriever/Black/Tan,Hound,,,Labrador Retriever/Black/Tan Hound,Labrador Retriever,Black and Tan Hound,Tan Hound
72161,A835615,Labrador Retriever/Black/Tan Hound,Labrador,Retriever/Black/Tan,Hound,,,Labrador Retriever/Black/Tan Hound,Labrador Retriever,Black and Tan Hound,Tan Hound
72163,A835617,Labrador Retriever/Black/Tan Hound,Labrador,Retriever/Black/Tan,Hound,,,Labrador Retriever/Black/Tan Hound,Labrador Retriever,Black and Tan Hound,Tan Hound
72164,A835618,Labrador Retriever/Black/Tan Hound,Labrador,Retriever/Black/Tan,Hound,,,Labrador Retriever/Black/Tan Hound,Labrador Retriever,Black and Tan Hound,Tan Hound
72165,A835620,Labrador Retriever/Black/Tan Hound,Labrador,Retriever/Black/Tan,Hound,,,Labrador Retriever/Black/Tan Hound,Labrador Retriever,Black and Tan Hound,Tan Hound

In [41]:
merged_df["Breed_update"] = breed_df["updated"]
merged_df["Breed1"] = breed_df["First_Breed"]
merged_df["Breed2"] = breed_df["Second_Breed"]

merged_df.head()

,Animal ID,Intake_Type,Intake_Condition,Breed,Color,Age_in_Years,Intactness,Sex,Age,Breed_Type,Outcome_Type,Length_of_Stay,in_Month,in_Year,Breed_update,Breed1,Breed2
0,A006100,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,6.0,Altered,Male,Adult,Mix,Return to Owner,2,03,2014,Spinone Italiano,Spinone Italiano,
1,A006100,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,7.0,Altered,Male,Adult,Mix,Return to Owner,2,12,2014,Spinone Italiano,Spinone Italiano,
2,A006100,Stray,Normal,Spinone Italiano Mix,Yellow/White,10.0,Altered,Male,Senior,Mix,Return to Owner,1,12,2017,Spinone Italiano,Spinone Italiano,
3,A047759,Owner Surrender,Normal,Dachshund,Tricolor,10.0,Altered,Male,Senior,Pure,Transfer,6,04,2014,Dachshund,Dachshund,
4,A134067,Public Assist,Injured,Shetland Sheepdog,Brown/White,16.0,Altered,Male,Senior,Pure,Return to Owner,1,11,2013,Shetland Sheepdog,Shetland Sheepdog,

In [42]:
Breeds_df = pd.read_csv("Resources/BreedInfo.csv",encoding = "ISO-8859-1")
print(Breeds_df.shape)
Breeds_df

(237, 4)

,Breed,Austin_breedname,AKC_group,size_cat
0,Affenpinscher,Affenpinscher,toy,small
1,Afghan Hound,Afghan Hound,hound,large
2,Airedale Terrier,Airedale Terrier,terrier,medium
3,Akita,Akita,working,large
4,Alaskan Eskimo Dog,Klee Klai,non-sporting,small
...,...,...,...,...
232,Spanish Mastiff,Spanish Mastiff,working,large
233,Spanish Water Dog,Spanish Water Dog,herding,medium
234,Grand Basset Griffon Vendeen,Grand Basset Griffon Vendeen,hound,medium
235,Alaskan Klee Kai,Alaskan Klee Kai,non-sporting,small
236,Hovawart,Hovawart,working,large

In [43]:
merged_df["Breed2"][12699] = "Golden Retriever"
merged_df["Breed2"][74295] = "Black Mouth Cur"
merged_df['AKC_group1'] = merged_df['Breed1'].map(Breeds_df.set_index('Austin_breedname')['AKC_group'])
merged_df['Size1'] = merged_df['Breed1'].map(Breeds_df.set_index('Austin_breedname')['size_cat'])
merged_df['AKC_group2'] = merged_df['Breed2'].map(Breeds_df.set_index('Austin_breedname')['AKC_group'])
merged_df['Size2'] = merged_df['Breed2'].map(Breeds_df.set_index('Austin_breedname')['size_cat'])

merged_df

/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Animal ID,Intake_Type,Intake_Condition,Breed,Color,Age_in_Years,Intactness,Sex,Age,Breed_Type,...,Length_of_Stay,in_Month,in_Year,Breed_update,Breed1,Breed2,AKC_group1,Size1,AKC_group2,Size2
0,A006100,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,6.0,Altered,Male,Adult,Mix,...,2,03,2014,Spinone Italiano,Spinone Italiano,,sporting,large,NaN,NaN
1,A006100,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,7.0,Altered,Male,Adult,Mix,...,2,12,2014,Spinone Italiano,Spinone Italiano,,sporting,large,NaN,NaN
2,A006100,Stray,Normal,Spinone Italiano Mix,Yellow/White,10.0,Altered,Male,Senior,Mix,...,1,12,2017,Spinone Italiano,Spinone Italiano,,sporting,large,NaN,NaN
3,A047759,Owner Surrender,Normal,Dachshund,Tricolor,10.0,Altered,Male,Senior,Pure,...,6,04,2014,Dachshund,Dachshund,,hound,small,NaN,NaN
4,A134067,Public Assist,Injured,Shetland Sheepdog,Brown/White,16.0,Altered,Male,Senior,Pure,...,1,11,2013,Shetland Sheepdog,Shetland Sheepdog,,herding,small,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75986,A850187,Stray,Normal,Labrador Retriever,Cream,0.008219,Unknown,None,Puppy,Pure,...,1,01,2022,Labrador Retriever,Labrador Retriever,,sporting,medium,NaN,NaN
75987,A850188,Stray,Normal,Labrador Retriever,Cream,0.008219,Unknown,None,Puppy,Pure,...,1,01,2022,Labrador Retriever,Labrador Retriever,,sporting,medium,NaN,NaN
75988,A850189,Stray,Normal,Labrador Retriever,Cream,0.008219,Unknown,None,Puppy,Pure,...,1,01,2022,Labrador Retriever,Labrador Retriever,,sporting,medium,NaN,NaN
75989,A850190,Stray,Normal,Labrador Retriever,Cream,0.008219,Unknown,None,Puppy,Pure,...,1,01,2022,Labrador Retriever,Labrador Retriever,,sporting,medium,NaN,NaN
75990,A850191,Stray,Normal,Labrador Retriever,Cream,0.008219,Unknown,None,Puppy,Pure,...,1,01,2022,Labrador Retriever,Labrador Retriever,,sporting,medium,NaN,NaN

In [44]:
Group1_df = merged_df[merged_df['AKC_group1'].isna()]
Group1_df

,Animal ID,Intake_Type,Intake_Condition,Breed,Color,Age_in_Years,Intactness,Sex,Age,Breed_Type,...,Length_of_Stay,in_Month,in_Year,Breed_update,Breed1,Breed2,AKC_group1,Size1,AKC_group2,Size2
3385,A649522,Stray,Normal,Unknown Mix,Brown,2.0,Intact,Male,Young,Mix,...,1,02,2015,Unknown,Unknown,,NaN,NaN,NaN,NaN
50460,A774795,Public Assist,Normal,Unknown Mix,White,2.0,Intact,Female,Young,Mix,...,7,06,2018,Unknown,Unknown,,NaN,NaN,NaN,NaN
50461,A774798,Public Assist,Normal,Unknown Mix,Cream,2.0,Altered,Female,Young,Mix,...,7,06,2018,Unknown,Unknown,,NaN,NaN,NaN,NaN
67997,A818737,Stray,Nursing,Unknown,Blue/White,0.0,Unknown,None,NaN,Pure,...,5,06,2020,Unknown,Unknown,,NaN,NaN,NaN,NaN
69858,A826087,Owner Surrender,Sick,Unknown,Black,0.076923,Intact,Female,Puppy,Pure,...,5,11,2020,Unknown,Unknown,,NaN,NaN,NaN,NaN
71965,A834634,Stray,Injured,Unknown,Tricolor,3.0,Intact,Male,Young,Pure,...,5,05,2021,Unknown,Unknown,,NaN,NaN,NaN,NaN

In [45]:
merged_df = merged_df[merged_df['Breed1'] != "Unknown"]
Group1_df = merged_df[merged_df['AKC_group1'].isna()]
Group1_df

Empty DataFrame
Columns: [Animal ID, Intake_Type, Intake_Condition, Breed, Color, Age_in_Years, Intactness, Sex, Age, Breed_Type, Outcome_Type, Length_of_Stay, in_Month, in_Year, Breed_update, Breed1, Breed2, AKC_group1, Size1, AKC_group2, Size2]
Index: []

[0 rows x 21 columns]

In [46]:
Group2_df = merged_df[merged_df['AKC_group2'].isna()]
Group2_df = Group2_df[Group2_df['Breed2'] != ""]
Group2_df

,Animal ID,Intake_Type,Intake_Condition,Breed,Color,Age_in_Years,Intactness,Sex,Age,Breed_Type,...,Length_of_Stay,in_Month,in_Year,Breed_update,Breed1,Breed2,AKC_group1,Size1,AKC_group2,Size2
27800,A719439,Public Assist,Normal,Jack Russell Terrier/Unknown,White/Brown,2.0,Altered,Male,Young,Mix,...,12,01,2016,Jack Russell Terrier/Unknown,Jack Russell Terrier,Unknown,terrier,small,NaN,NaN
27801,A719439,Public Assist,Normal,Jack Russell Terrier/Unknown,White/Brown,4.0,Altered,Male,Adult,Mix,...,11,06,2018,Jack Russell Terrier/Unknown,Jack Russell Terrier,Unknown,terrier,small,NaN,NaN
49247,A771140,Public Assist,Normal,Australian Shepherd/Unknown,Tricolor,0.25,Intact,Male,Puppy,Mix,...,11,05,2018,Australian Shepherd/Unknown,Australian Shepherd,Unknown,herding,medium,NaN,NaN

In [47]:
merged_df = merged_df[merged_df['Breed2'] != "Unknown"]
Group2_df = merged_df[merged_df['AKC_group2'].isna()]
Group2_df = Group2_df[Group2_df['Breed2'] != ""]
Group2_df

Empty DataFrame
Columns: [Animal ID, Intake_Type, Intake_Condition, Breed, Color, Age_in_Years, Intactness, Sex, Age, Breed_Type, Outcome_Type, Length_of_Stay, in_Month, in_Year, Breed_update, Breed1, Breed2, AKC_group1, Size1, AKC_group2, Size2]
Index: []

[0 rows x 21 columns]

In [48]:
print(merged_df.shape)
merged_df

(75982, 21)

,Animal ID,Intake_Type,Intake_Condition,Breed,Color,Age_in_Years,Intactness,Sex,Age,Breed_Type,...,Length_of_Stay,in_Month,in_Year,Breed_update,Breed1,Breed2,AKC_group1,Size1,AKC_group2,Size2
0,A006100,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,6.0,Altered,Male,Adult,Mix,...,2,03,2014,Spinone Italiano,Spinone Italiano,,sporting,large,NaN,NaN
1,A006100,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,7.0,Altered,Male,Adult,Mix,...,2,12,2014,Spinone Italiano,Spinone Italiano,,sporting,large,NaN,NaN
2,A006100,Stray,Normal,Spinone Italiano Mix,Yellow/White,10.0,Altered,Male,Senior,Mix,...,1,12,2017,Spinone Italiano,Spinone Italiano,,sporting,large,NaN,NaN
3,A047759,Owner Surrender,Normal,Dachshund,Tricolor,10.0,Altered,Male,Senior,Pure,...,6,04,2014,Dachshund,Dachshund,,hound,small,NaN,NaN
4,A134067,Public Assist,Injured,Shetland Sheepdog,Brown/White,16.0,Altered,Male,Senior,Pure,...,1,11,2013,Shetland Sheepdog,Shetland Sheepdog,,herding,small,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75986,A850187,Stray,Normal,Labrador Retriever,Cream,0.008219,Unknown,None,Puppy,Pure,...,1,01,2022,Labrador Retriever,Labrador Retriever,,sporting,medium,NaN,NaN
75987,A850188,Stray,Normal,Labrador Retriever,Cream,0.008219,Unknown,None,Puppy,Pure,...,1,01,2022,Labrador Retriever,Labrador Retriever,,sporting,medium,NaN,NaN
75988,A850189,Stray,Normal,Labrador Retriever,Cream,0.008219,Unknown,None,Puppy,Pure,...,1,01,2022,Labrador Retriever,Labrador Retriever,,sporting,medium,NaN,NaN
75989,A850190,Stray,Normal,Labrador Retriever,Cream,0.008219,Unknown,None,Puppy,Pure,...,1,01,2022,Labrador Retriever,Labrador Retriever,,sporting,medium,NaN,NaN
75990,A850191,Stray,Normal,Labrador Retriever,Cream,0.008219,Unknown,None,Puppy,Pure,...,1,01,2022,Labrador Retriever,Labrador Retriever,,sporting,medium,NaN,NaN

In [49]:
merged_df = merged_df.reset_index(drop=True)
merged_df.head()

,Animal ID,Intake_Type,Intake_Condition,Breed,Color,Age_in_Years,Intactness,Sex,Age,Breed_Type,...,Length_of_Stay,in_Month,in_Year,Breed_update,Breed1,Breed2,AKC_group1,Size1,AKC_group2,Size2
0,A006100,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,6.0,Altered,Male,Adult,Mix,...,2,03,2014,Spinone Italiano,Spinone Italiano,,sporting,large,NaN,NaN
1,A006100,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,7.0,Altered,Male,Adult,Mix,...,2,12,2014,Spinone Italiano,Spinone Italiano,,sporting,large,NaN,NaN
2,A006100,Stray,Normal,Spinone Italiano Mix,Yellow/White,10.0,Altered,Male,Senior,Mix,...,1,12,2017,Spinone Italiano,Spinone Italiano,,sporting,large,NaN,NaN
3,A047759,Owner Surrender,Normal,Dachshund,Tricolor,10.0,Altered,Male,Senior,Pure,...,6,04,2014,Dachshund,Dachshund,,hound,small,NaN,NaN
4,A134067,Public Assist,Injured,Shetland Sheepdog,Brown/White,16.0,Altered,Male,Senior,Pure,...,1,11,2013,Shetland Sheepdog,Shetland Sheepdog,,herding,small,NaN,NaN

## Clean Color Data

In [50]:
# Cleaning color column
data5 = [merged_df["Animal ID"], merged_df["Color"]]
headers = ["ID", "Color"]
sort_color_df = pd.concat(data5, axis=1, keys=headers)
sort_color_df.head()

# new data frame with split value columns
new5 = sort_color_df["Color"].str.split("/", expand = True)

# making separate columns for the classifiers
sort_color_df["color1"]= new5[0]
sort_color_df["color2"]= new5[1]

sort_color_df['color2'] = sort_color_df['color2'].fillna("")

sort_color_df.head()

        ID         Color    color1 color2
0  A006100  Yellow/White    Yellow  White
1  A006100  Yellow/White    Yellow  White
2  A006100  Yellow/White    Yellow  White
3  A047759      Tricolor  Tricolor
4  A134067   Brown/White     Brown  White

In [51]:
for row in (sort_color_df.index):
    if((sort_color_df["color1"].values[row] == "Buff") | (sort_color_df["color1"].values[row] == "Fawn") | (sort_color_df["color1"].values[row] == "Yellow") | (sort_color_df["color1"].values[row] == "Gold") | (sort_color_df["color1"].values[row] == "Beige")):
        sort_color_df["color1"].values[row] = "Tan"
    if((sort_color_df["color1"].values[row] == "Chocolate") | (sort_color_df["color2"].values[row] == "Liver")):
        sort_color_df["color1"].values[row] = "Brown"
    if(sort_color_df["color1"].values[row] == "Cream"):
        sort_color_df["color1"].values[row] = "White"
    if((sort_color_df["color2"].values[row] == "Buff") | (sort_color_df["color2"].values[row] == "Fawn") | (sort_color_df["color2"].values[row] == "Yellow") | (sort_color_df["color2"].values[row] == "Gold") | (sort_color_df["color2"].values[row] == "Beige")):
        sort_color_df["color2"].values[row] = "Tan"
    if((sort_color_df["color2"].values[row] == "Chocolate") | (sort_color_df["color2"].values[row] == "Liver")):
        sort_color_df["color2"].values[row] = "Brown"
    if(sort_color_df["color2"].values[row] == "Cream"):
        sort_color_df["color2"].values[row] = "White"
    if("Brindle" in sort_color_df["color1"].values[row]):
        sort_color_df["color1"].values[row] = "Brindle"
        sort_color_df["color2"].values[row] = ""
    if("Merle" in sort_color_df["color1"].values[row]):
        sort_color_df["color1"].values[row] = "Merle"
        sort_color_df["color2"].values[row] = ""
    if("Brindle" in sort_color_df["color2"].values[row]):
        sort_color_df["color2"].values[row] = "Brindle"
        sort_color_df["color1"].values[row] = ""
    if("Merle" in sort_color_df["color2"].values[row]):
        sort_color_df["color2"].values[row] = "Merle"
        sort_color_df["color1"].values[row] = ""
    if((sort_color_df["color1"].values[row] == "Blue") | (sort_color_df["color1"].values[row] == "Silver")):
        sort_color_df["color1"].values[row] = "Gray"
    if((sort_color_df["color2"].values[row] == "Blue") | (sort_color_df["color2"].values[row] == "Silver")):
        sort_color_df["color2"].values[row] = "Gray"
    if("Sable" in sort_color_df["color1"].values[row]):
        sort_color_df["color1"].values[row] = "Sable"
        sort_color_df["color2"].values[row] = ""
    if("Sable" in sort_color_df["color2"].values[row]):
        sort_color_df["color2"].values[row] = "Sable"
        sort_color_df["color1"].values[row] = ""  
    if("Tricolor" in sort_color_df["color1"].values[row]):
        sort_color_df["color1"].values[row] = "Tricolor"
        sort_color_df["color2"].values[row] = ""
    if("Tricolor" in sort_color_df["color2"].values[row]):
        sort_color_df["color2"].values[row] = "Tricolor"
        sort_color_df["color1"].values[row] = ""
    if(sort_color_df["color1"].values[row] == "Red Tick"):
        sort_color_df["color1"].values[row] = "Red/White"
    if(sort_color_df["color2"].values[row] == "Red Tick"):
        sort_color_df["color2"].values[row] = "Red/White"
    if(sort_color_df["color1"].values[row] == "Liver Tick"):
        sort_color_df["color1"].values[row] = "Brown/White"
    if(sort_color_df["color2"].values[row] == "Liver Tick"):
        sort_color_df["color2"].values[row] = "Brown/White"
    if((sort_color_df["color1"].values[row] == "Apricot") | (sort_color_df["color1"].values[row] == "Ruddy")):
        sort_color_df["color1"].values[row] = "Red"
    if((sort_color_df["color2"].values[row] == "Apricot") | (sort_color_df["color2"].values[row] == "Ruddy")):
        sort_color_df["color2"].values[row] = "Red"
        
        
        
        
        
    if(sort_color_df["color1"].values[row] == sort_color_df["color2"].values[row]):
        sort_color_df["color2"].values[row] = ""
sort_color_df

            ID         Color    color1 color2
0      A006100  Yellow/White       Tan  White
1      A006100  Yellow/White       Tan  White
2      A006100  Yellow/White       Tan  White
3      A047759      Tricolor  Tricolor
4      A134067   Brown/White     Brown  White
...        ...           ...       ...    ...
75977  A850187         Cream     White
75978  A850188         Cream     White
75979  A850189         Cream     White
75980  A850190         Cream     White
75981  A850191         Cream     White

[75982 rows x 4 columns]

In [52]:
# Alphabetical Sort
alpha_color_df = sort_color_df.filter(["color1","color2"], axis=1)

alpha_color_df.values.sort(axis=1)

sort_color_df["color1"] = alpha_color_df["color1"]
sort_color_df["color2"] = alpha_color_df["color2"]

sort_color_df.head(20)

         ID         Color color1    color2
0   A006100  Yellow/White    Tan     White
1   A006100  Yellow/White    Tan     White
2   A006100  Yellow/White    Tan     White
3   A047759      Tricolor         Tricolor
4   A134067   Brown/White  Brown     White
5   A141142   Black/White  Black     White
6   A163459    Black/Gray  Black      Gray
7   A165752   Brown/White  Brown     White
8   A178569   White/Black  Black     White
9   A189592   Brown/White  Brown     White
10  A200922     Black/Tan  Black       Tan
11  A208755   Black/White  Black     White
12  A210457     Tan/Black  Black       Tan
13  A212672     Tan/Black  Black       Tan
14  A215368         Black            Black
15  A218622     Gold/Gold              Tan
16  A218624     Gold/Gold              Tan
17  A221327   Brown/White  Brown     White
18  A221448   Brown/White  Brown     White
19  A226069   Sable/White            Sable

In [53]:

sort_color_df["New_Color"] = ""
for row in sort_color_df.index:
    if(sort_color_df["color1"].values[row] == ""):
        sort_color_df["New_Color"].values[row] = sort_color_df["color2"].values[row]
    if(sort_color_df["color2"].values[row] == ""):
        sort_color_df["New_Color"].values[row] = sort_color_df["color1"].values[row]
    if((sort_color_df["color1"].values[row] != "") and (sort_color_df["color2"].values[row] != "")):
        sort_color_df["New_Color"].values[row] = sort_color_df["color1"].values[row]+"/"+sort_color_df["color2"].values[row]

sort_color_df.head(10)

        ID         Color color1    color2    New_Color
0  A006100  Yellow/White    Tan     White    Tan/White
1  A006100  Yellow/White    Tan     White    Tan/White
2  A006100  Yellow/White    Tan     White    Tan/White
3  A047759      Tricolor         Tricolor     Tricolor
4  A134067   Brown/White  Brown     White  Brown/White
5  A141142   Black/White  Black     White  Black/White
6  A163459    Black/Gray  Black      Gray   Black/Gray
7  A165752   Brown/White  Brown     White  Brown/White
8  A178569   White/Black  Black     White  Black/White
9  A189592   Brown/White  Brown     White  Brown/White

In [54]:
for row in sort_color_df.index:
    if(sort_color_df["New_Color"].values[row] == "Tan/White"):
        sort_color_df["color1"].values[row] = "Tan"
        sort_color_df["color2"].values[row] = ""
        sort_color_df["New_Color"].values[row] = "Tan"

sort_color_df

            ID         Color color1    color2    New_Color
0      A006100  Yellow/White    Tan                    Tan
1      A006100  Yellow/White    Tan                    Tan
2      A006100  Yellow/White    Tan                    Tan
3      A047759      Tricolor         Tricolor     Tricolor
4      A134067   Brown/White  Brown     White  Brown/White
...        ...           ...    ...       ...          ...
75977  A850187         Cream            White        White
75978  A850188         Cream            White        White
75979  A850189         Cream            White        White
75980  A850190         Cream            White        White
75981  A850191         Cream            White        White

[75982 rows x 5 columns]

In [55]:
colors_counts = sort_color_df.New_Color.value_counts()
colors_counts

Tan                      12435
Black/White              11764
Brown/White               8027
White                     5194
Brindle                   4874
                         ...
Blue Cream/Blue Tiger        1
Brown/Brown/White            1
Black/Red/White              1
Orange                       1
Blue Tiger/Tan               1
Name: New_Color, Length: 76, dtype: int64

In [56]:
merged_df["Sorted_Color"] = sort_color_df["New_Color"]
merged_df.head()

,Animal ID,Intake_Type,Intake_Condition,Breed,Color,Age_in_Years,Intactness,Sex,Age,Breed_Type,...,in_Month,in_Year,Breed_update,Breed1,Breed2,AKC_group1,Size1,AKC_group2,Size2,Sorted_Color
0,A006100,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,6.0,Altered,Male,Adult,Mix,...,03,2014,Spinone Italiano,Spinone Italiano,,sporting,large,NaN,NaN,Tan
1,A006100,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,7.0,Altered,Male,Adult,Mix,...,12,2014,Spinone Italiano,Spinone Italiano,,sporting,large,NaN,NaN,Tan
2,A006100,Stray,Normal,Spinone Italiano Mix,Yellow/White,10.0,Altered,Male,Senior,Mix,...,12,2017,Spinone Italiano,Spinone Italiano,,sporting,large,NaN,NaN,Tan
3,A047759,Owner Surrender,Normal,Dachshund,Tricolor,10.0,Altered,Male,Senior,Pure,...,04,2014,Dachshund,Dachshund,,hound,small,NaN,NaN,Tricolor
4,A134067,Public Assist,Injured,Shetland Sheepdog,Brown/White,16.0,Altered,Male,Senior,Pure,...,11,2013,Shetland Sheepdog,Shetland Sheepdog,,herding,small,NaN,NaN,Brown/White

In [57]:
sort_df = merged_df[merged_df['Sorted_Color'].str.contains("Tabby")]
sort_df

,Animal ID,Intake_Type,Intake_Condition,Breed,Color,Age_in_Years,Intactness,Sex,Age,Breed_Type,...,in_Month,in_Year,Breed_update,Breed1,Breed2,AKC_group1,Size1,AKC_group2,Size2,Sorted_Color
26118,A716075,Stray,Normal,Jack Russell Terrier/Basenji,White/Brown Tabby,0.75,Intact,Male,Puppy,Mix,...,11,2015,Jack Russell Terrier/Basenji,Jack Russell Terrier,Basenji,terrier,small,hound,medium,Brown Tabby/White
26119,A716075,Stray,Normal,Jack Russell Terrier/Basenji,White/Brown Tabby,1.0,Altered,Male,Puppy,Mix,...,04,2016,Jack Russell Terrier/Basenji,Jack Russell Terrier,Basenji,terrier,small,hound,medium,Brown Tabby/White

In [58]:
sort_df = merged_df[merged_df['Sorted_Color'].str.contains("Smoke")]
sort_df

,Animal ID,Intake_Type,Intake_Condition,Breed,Color,Age_in_Years,Intactness,Sex,Age,Breed_Type,...,in_Month,in_Year,Breed_update,Breed1,Breed2,AKC_group1,Size1,AKC_group2,Size2,Sorted_Color
1792,A601696,Public Assist,Injured,Labrador Retriever/Pit Bull,Black Smoke/White,5.0,Altered,Female,Adult,Mix,...,03,2014,Labrador Retriever/Pit Bull,Labrador Retriever,Pit Bull,sporting,medium,pit bull,large,Black Smoke/White
5946,A668191,Stray,Normal,Miniature Schnauzer Mix,Black Smoke/White,2.0,Intact,Male,Young,Mix,...,11,2013,Miniature Schnauzer,Miniature Schnauzer,,terrier,small,NaN,NaN,Black Smoke/White
7060,A670480,Stray,Normal,Pit Bull Mix,Blue Smoke/Brown,1.0,Intact,Female,Puppy,Mix,...,01,2014,Pit Bull,Pit Bull,,pit bull,large,NaN,NaN,Blue Smoke/Brown
7181,A670693,Stray,Normal,Cardigan Welsh Corgi Mix,Black Smoke/White,1.0,Intact,Male,Puppy,Mix,...,01,2014,Cardigan Welsh Corgi,Cardigan Welsh Corgi,,herding,small,NaN,NaN,Black Smoke/White
8127,A672718,Stray,Normal,Labrador Retriever Mix,Black Smoke/Black,0.166667,Intact,Female,Puppy,Mix,...,02,2014,Labrador Retriever,Labrador Retriever,,sporting,medium,NaN,NaN,Black/Black Smoke
8195,A672958,Owner Surrender,Normal,Miniature Pinscher/Maltese,Black Smoke,3.0,Intact,Female,Young,Mix,...,02,2014,Miniature Pinscher/Maltese,Miniature Pinscher,Maltese,toy,small,toy,small,Black Smoke
9537,A676097,Owner Surrender,Normal,Siberian Husky/Great Pyrenees,Black Smoke,12.0,Intact,Male,Senior,Mix,...,04,2014,Siberian Husky/Great Pyrenees,Siberian Husky,Great Pyrenees,working,medium,working,large,Black Smoke
19190,A698300,Stray,Normal,Papillon Mix,Black Smoke/White,2.0,Altered,Male,Young,Mix,...,03,2015,Papillon,Papillon,,toy,small,NaN,NaN,Black Smoke/White
19346,A698605,Stray,Normal,Labrador Retriever Mix,Black Smoke/White,2.0,Intact,Female,Young,Mix,...,03,2015,Labrador Retriever,Labrador Retriever,,sporting,medium,NaN,NaN,Black Smoke/White
27549,A718983,Owner Surrender,Normal,Yorkshire Terrier Mix,Black Smoke,0.166667,Intact,Female,Puppy,Mix,...,01,2016,Yorkshire Terrier,Yorkshire Terrier,,toy,small,NaN,NaN,Black Smoke
33749,A733859,Stray,Normal,Catahoula Mix,Black Smoke/Blue Tick,0.083333,Intact,Male,Puppy,Mix,...,08,2016,Catahoula,Catahoula,,cur,large,NaN,NaN,Black Smoke/Blue Tick
34785,A736376,Stray,Normal,Siberian Husky Mix,White/Black Smoke,1.0,Intact,Female,Puppy,Mix,...,10,2016,Siberian Husky,Siberian Husky,,working,medium,NaN,NaN,Black Smoke/White
34786,A736376,Stray,Normal,Siberian Husky Mix,White/Black Smoke,2.0,Altered,Female,Young,Mix,...,03,2018,Siberian Husky,Siberian Husky,,working,medium,NaN,NaN,Black Smoke/White
36740,A740956,Stray,Normal,Miniature Schnauzer/Miniature Poodle,Black Smoke/Brown,1.0,Altered,Female,Puppy,Mix,...,12,2016,Miniature Schnauzer/Miniature Poodle,Miniature Schnauzer,Miniature Poodle,terrier,small,toy,small,Black Smoke/Brown
37506,A742508,Stray,Normal,Pit Bull Mix,Blue Smoke/White,1.0,Intact,Female,Puppy,Mix,...,01,2017,Pit Bull,Pit Bull,,pit bull,large,NaN,NaN,Blue Smoke/White
37527,A742557,Stray,Normal,Cairn Terrier Mix,Black Smoke/Gray,1.0,Intact,Female,Puppy,Mix,...,01,2017,Cairn Terrier,Cairn Terrier,,terrier,small,NaN,NaN,Black Smoke/Gray
37528,A742557,Stray,Injured,Cairn Terrier Mix,Black Smoke/Gray,1.0,Altered,Female,Puppy,Mix,...,07,2017,Cairn Terrier,Cairn Terrier,,terrier,small,NaN,NaN,Black Smoke/Gray
37659,A742786,Public Assist,Normal,American Pit Bull Terrier Mix,Black Smoke,2.0,Intact,Female,Young,Mix,...,11,2018,American Pit Bull Terrier,American Pit Bull Terrier,,pit bull,large,NaN,NaN,Black Smoke
41966,A754091,Stray,Normal,American Pit Bull Terrier Mix,Blue Smoke,0.75,Intact,Male,Puppy,Mix,...,07,2017,American Pit Bull Terrier,American Pit Bull Terrier,,pit bull,large,NaN,NaN,Blue Smoke
50107,A773804,Stray,Normal,Miniature Schnauzer Mix,Black Smoke/White,6.0,Intact,Male,Adult,Mix,...,06,2018,Miniature Schnauzer,Miniature Schnauzer,,terrier,small,NaN,NaN,Black Smoke/White
52271,A779209,Stray,Normal,Pit Bull Mix,Black Smoke,1.0,Intact,Male,Puppy,Mix,...,08,2018,Pit Bull,Pit Bull,,pit bull,large,NaN,NaN,Black Smoke
52698,A780283,Stray,Normal,American Pit Bull Terrier Mix,Black Smoke,2.0,Intact,Male,Young,Mix,...,09,2018,American Pit Bull Terrier,American Pit Bull Terrier,,pit bull,large,NaN,NaN,Black Smoke
53258,A781584,Stray,Normal,German Shepherd/Siberian Husky,Black Smoke/White,0.166667,Intact,Female,Puppy,Mix,...,10,2018,German Shepherd/Siberian Husky,German Shepherd,Siberian Husky,herding,large,working,medium,Black Smoke/White
53323,A781738,Stray,Normal,American Bulldog,Blue Smoke/White,2.0,Intact,Male,Young,Pure,...,10,2018,American Bulldog,American Bulldog,,pit bull,large,NaN,NaN,Blue Smoke/White
55049,A785659,Stray,Normal,Labrador Retriever Mix,Black Smoke/White,0.916667,Intact,Male,Puppy,Mix,...,12,2018,Labrador Retriever,Labrador Retriever,,sporting,medium,NaN,NaN,Black Smoke/White
56213,A787914,Stray,Normal,German Shepherd Mix,Black Smoke,1.0,Intact,Male,Puppy,Mix,...,01,2019,German Shepherd,German Shepherd,,herding,large,NaN,NaN,Black Smoke
56314,A788133,Stray,Injured,Australian Shepherd Mix,Black/Black Smoke,1.0,Intact,Male,Puppy,Mix,...,01,2019,Australian Shepherd,Australian Shepherd,,herding,medium,NaN,NaN,Black/Black Smoke
57376,A790376,Stray,Normal,German Shepherd/Siberian Husky,White/Black Smoke,0.166667,Intact,Female,Puppy,Mix,...,03,2019,German Shepherd/Siberian Husky,German Shepherd,Siberian Husky,herding,large,working,medium,Black Smoke/White
58451,A792759,Stray,Normal,Catahoula Mix,Black Smoke/White,0.25,Intact,Male,Puppy,Mix,...,04,2019,Catahoula,Catahoula,,cur,large,NaN,NaN,Black Smoke/White
58452,A792759,Owner Surrender,Sick,Catahoula Mix,Black Smoke/White,0.25,Altered,Male,Puppy,Mix,...,04,2019,Catahoula,Catahoula,,cur,large,NaN,NaN,Black Smoke/White
60017,A797045,Stray,Normal,Cairn Terrier,Black Smoke,9.0,Intact,Female,Senior,Pure,...,06,2019,Cairn Terrier,Cairn Terrier,,terrier,small,NaN,NaN,Black Smoke
62483,A803638,Stray,Normal,Australian Cattle Dog Mix,Brown/Black Smoke,0.083333,Intact,Female,Puppy,Mix,...,09,2019,Australian Cattle Dog,Australian Cattle Dog,,herding,medium,NaN,NaN,Black Smoke/Brown
70200,A827063,Public Assist,Injured,German Shepherd,Black Smoke/Brown,8.0,Intact,Female,Senior,Pure,...,12,2020,German Shepherd,German Shepherd,,herding,large,NaN,NaN,Black Smoke/Brown
75934,A849677,Stray,Normal,Miniature Poodle/Standard Schnauzer,Black Smoke,0.75,Intact,Male,Puppy,Mix,...,01,2022,Miniature Poodle/Standard Schnauzer,Miniature Poodle,Standard Schnauzer,toy,small,working,medium,Black Smoke

In [59]:
sort_df = merged_df[merged_df['Sorted_Color'].str.contains("Tortie")]
sort_df

,Animal ID,Intake_Type,Intake_Condition,Breed,Color,Age_in_Years,Intactness,Sex,Age,Breed_Type,...,in_Month,in_Year,Breed_update,Breed1,Breed2,AKC_group1,Size1,AKC_group2,Size2,Sorted_Color
32724,A731285,Stray,Normal,Pit Bull Mix,White/Tortie,0.076923,Intact,Male,Puppy,Mix,...,07,2016,Pit Bull,Pit Bull,,pit bull,large,NaN,NaN,Tortie/White

In [60]:
sort_df = merged_df[merged_df['Sorted_Color'].str.contains("Calico")]
sort_df

,Animal ID,Intake_Type,Intake_Condition,Breed,Color,Age_in_Years,Intactness,Sex,Age,Breed_Type,...,in_Month,in_Year,Breed_update,Breed1,Breed2,AKC_group1,Size1,AKC_group2,Size2,Sorted_Color
42181,A754726,Stray,Normal,Chihuahua Shorthair Mix,Calico,5.0,Intact,Female,Adult,Mix,...,07,2017,Chihuahua Shorthair,Chihuahua Shorthair,,toy,small,NaN,NaN,Calico
42182,A754726,Stray,Normal,Chihuahua Shorthair Mix,Calico,6.0,Altered,Female,Adult,Mix,...,06,2018,Chihuahua Shorthair,Chihuahua Shorthair,,toy,small,NaN,NaN,Calico

In [61]:
sort_df = merged_df[merged_df['Sorted_Color'].str.contains("Tiger")]
sort_df

,Animal ID,Intake_Type,Intake_Condition,Breed,Color,Age_in_Years,Intactness,Sex,Age,Breed_Type,...,in_Month,in_Year,Breed_update,Breed1,Breed2,AKC_group1,Size1,AKC_group2,Size2,Sorted_Color
1578,A591537,Owner Surrender,Normal,Pit Bull Mix,Black Tiger/White,6.0,Altered,Female,Adult,Mix,...,06,2015,Pit Bull,Pit Bull,,pit bull,large,NaN,NaN,Black Tiger/White
1922,A607743,Stray,Normal,Staffordshire Mix,Blue Tiger/White,7.0,Altered,Female,Adult,Mix,...,02,2016,Staffordshire,Staffordshire,,terrier,medium,NaN,NaN,Blue Tiger/White
2440,A623101,Stray,Normal,Presa Canario Mix,Blue Tiger/White,5.0,Altered,Male,Adult,Mix,...,09,2014,Presa Canario,Presa Canario,,working,large,NaN,NaN,Blue Tiger/White
2441,A623101,Owner Surrender,Normal,Presa Canario Mix,Blue Tiger/White,5.0,Altered,Male,Adult,Mix,...,10,2014,Presa Canario,Presa Canario,,working,large,NaN,NaN,Blue Tiger/White
2446,A623219,Stray,Normal,Pit Bull Mix,Blue Tiger/White,2.0,Altered,Male,Young,Mix,...,01,2014,Pit Bull,Pit Bull,,pit bull,large,NaN,NaN,Blue Tiger/White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73314,A840047,Stray,Normal,Boxer Mix,Brown Tiger/White,0.5,Intact,Male,Puppy,Mix,...,08,2021,Boxer,Boxer,,working,medium,NaN,NaN,Brown Tiger/White
73315,A840047,Owner Surrender,Normal,Boxer Mix,Brown Tiger/White,0.583333,Altered,Male,Puppy,Mix,...,08,2021,Boxer,Boxer,,working,medium,NaN,NaN,Brown Tiger/White
73516,A840715,Stray,Normal,Labrador Retriever/Boxer,Brown Tiger/White,1.0,Intact,Male,Puppy,Mix,...,08,2021,Labrador Retriever/Boxer,Labrador Retriever,Boxer,sporting,medium,working,medium,Brown Tiger/White
74339,A843375,Public Assist,Normal,Plott Hound,Brown Tiger/White,0.75,Intact,Female,Puppy,Pure,...,09,2021,Plott Hound,Plott Hound,,hound,medium,NaN,NaN,Brown Tiger/White
75381,A847547,Public Assist,Normal,Pit Bull,Blue Tiger/White,0.083333,Intact,Female,Puppy,Pure,...,12,2021,Pit Bull,Pit Bull,,pit bull,large,NaN,NaN,Blue Tiger/White

In [62]:
for row in merged_df.index:
    if("Tabby" in merged_df["Sorted_Color"].values[row]):
        merged_df["Sorted_Color"].values[row] = "Brindle"
    if((merged_df["Sorted_Color"].values[row] == "Black Smoke") | (merged_df["Sorted_Color"].values[row] == "Black Smoke/White") | (merged_df["Sorted_Color"].values[row] == "Black/Black Smoke")): 
        merged_df["Sorted_Color"].values[row] = "Black/White"
    if((merged_df["Sorted_Color"].values[row] == "Blue Smoke") | (merged_df["Sorted_Color"].values[row] == "Blue Smoke/White")): 
        merged_df["Sorted_Color"].values[row] = "Gray/White"
    if((merged_df["Sorted_Color"].values[row] == "Blue Smoke/Brown") | (merged_df["Sorted_Color"].values[row] == "Black Smoke/Brown")): 
        merged_df["Sorted_Color"].values[row] = "Tricolor"
    if((merged_df["Sorted_Color"].values[row] == "Black Smoke/Gray")):
        merged_df["Sorted_Color"].values[row] = "Black/Gray"
    if((merged_df["Sorted_Color"].values[row] == "Tortie/White")):
        merged_df["Sorted_Color"].values[row] = "Brindle"
    if((merged_df["Sorted_Color"].values[row] == "Calico")):
        merged_df["Sorted_Color"].values[row] = "Tricolor"
    if((merged_df["Sorted_Color"].values[row] == "Black Tiger/White") | (merged_df["Sorted_Color"].values[row] == "Blue Tiger/White") | (merged_df["Sorted_Color"].values[row] == "Brown Tiger/White") | (merged_df["Sorted_Color"].values[row] == "Gray Tiger/White")  | (merged_df["Sorted_Color"].values[row] == "Blue Tiger")  | (merged_df["Sorted_Color"].values[row] == "Blue Cream/Blue Tiger")  | (merged_df["Sorted_Color"].values[row] == "Brown Tiger")  | (merged_df["Sorted_Color"].values[row] == "Brown/Brown Tiger")  | (merged_df["Sorted_Color"].values[row] == "Black Tiger")  | (merged_df["Sorted_Color"].values[row] == "Blue Tiger/Tan")): 
        merged_df["Sorted_Color"].values[row] = "Brindle"
    if((merged_df["Sorted_Color"].values[row] == "Red/White/White") | (merged_df["Sorted_Color"].values[row] == "Red/Red/White")):
        merged_df["Sorted_Color"].values[row] = "Red/White"
    if((merged_df["Sorted_Color"].values[row] == "Liver/White") | (merged_df["Sorted_Color"].values[row] == "Brown/White/White")  | (merged_df["Sorted_Color"].values[row] == "Brown/Brown/White") | (merged_df["Sorted_Color"].values[row] == "Agouti")):
        merged_df["Sorted_Color"].values[row] = "Brown/White"
    if((merged_df["Sorted_Color"].values[row] == "Blue Cream/White") | (merged_df["Sorted_Color"].values[row] == "Blue Cream")):
        merged_df["Sorted_Color"].values[row] = "Gray/White"
    if((merged_df["Sorted_Color"].values[row] == "Liver/Tan")):
        merged_df["Sorted_Color"].values[row] = "Brown/Tan"
     
        

sort_df = merged_df[merged_df['Sorted_Color'].str.contains("Agouti")]
sort_df

Empty DataFrame
Columns: [Animal ID, Intake_Type, Intake_Condition, Breed, Color, Age_in_Years, Intactness, Sex, Age, Breed_Type, Outcome_Type, Length_of_Stay, in_Month, in_Year, Breed_update, Breed1, Breed2, AKC_group1, Size1, AKC_group2, Size2, Sorted_Color]
Index: []

[0 rows x 22 columns]

In [63]:
colors_counts = merged_df.Sorted_Color.value_counts()
print(colors_counts.shape)
colors_counts

(46,)

Tan                      12435
Black/White              11788
Brown/White               8065
White                     5194
Brindle                   4978
Black/Brown               4815
Black/Tan                 4308
Tricolor                  4230
Black                     4097
Brown                     3720
Gray/White                3353
Red/White                 1915
Red                       1469
Merle                     1147
Sable                      991
Brown/Tan                  944
Gray                       767
Black/Gray                 400
Gray/Tan                   336
Black/Red                  323
Red/Tan                    123
Blue Tick                  112
Brown/Gray                 104
Brown/Red                   86
Black/Blue Tick             85
Blue Tick/Tan               39
Blue Tick/White             34
Orange/White                31
Blue Tick/Brown             15
Gray/Red                    14
Brown/Red/White             13
Red/White/Tan               11
Blue Tick/Red/White          8
Orange/Tan                   6
Black/Orange                 5
Blue Tick/Red                4
Pink/White                   4
Brown/Liver                  2
Liver                        2
Orange/Red/White             2
Gray/Liver                   2
Black/Red/White              1
Black Smoke/Blue Tick        1
Orange                       1
Gray/Red/White               1
Brown/White/Liver            1
Name: Sorted_Color, dtype: int64

## Add information about which breeds are restricted for renters in Austin, Tx

In [64]:
restricted_df = pd.read_csv("Resources/BreedRestrictionsAustin.csv")
restricted_df.head()

           Restricted_Breeds               Austin_breed
0                      Akita                      Akita
1          American Bull Dog           American Bulldog
2  American Pit Bull Terrier  American Pit Bull Terrier
3  American Pit Bull Terrier               American Pit
4  American Pit Bull Terrier          American Pit Bull

In [96]:
merged_df['Restricted1'] = merged_df['Breed1'].map(restricted_df.set_index('Austin_breed')['Restricted_Breeds'])
merged_df['Restricted2'] = merged_df['Breed2'].map(restricted_df.set_index('Austin_breed')['Restricted_Breeds'])
        
merged_df.head()

,Animal ID,Intake_Type,Intake_Condition,Breed,Color,Age_in_Years,Intactness,Sex,Age,Breed_Type,...,Breed_update,Breed1,Breed2,AKC_group1,Size1,AKC_group2,Size2,Sorted_Color,Restricted1,Restricted2
0,A006100,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,6.0,Altered,Male,Adult,Mix,...,Spinone Italiano,Spinone Italiano,,sporting,large,NaN,NaN,Tan,NaN,NaN
1,A006100,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,7.0,Altered,Male,Adult,Mix,...,Spinone Italiano,Spinone Italiano,,sporting,large,NaN,NaN,Tan,NaN,NaN
2,A006100,Stray,Normal,Spinone Italiano Mix,Yellow/White,10.0,Altered,Male,Senior,Mix,...,Spinone Italiano,Spinone Italiano,,sporting,large,NaN,NaN,Tan,NaN,NaN
3,A047759,Owner Surrender,Normal,Dachshund,Tricolor,10.0,Altered,Male,Senior,Pure,...,Dachshund,Dachshund,,hound,small,NaN,NaN,Tricolor,NaN,NaN
4,A134067,Public Assist,Injured,Shetland Sheepdog,Brown/White,16.0,Altered,Male,Senior,Pure,...,Shetland Sheepdog,Shetland Sheepdog,,herding,small,NaN,NaN,Brown/White,NaN,NaN

In [97]:
merged_df = merged_df.assign(Restricted1=np.where(merged_df.Restricted1.isnull(), "No","Yes"))
merged_df = merged_df.assign(Restricted2=np.where(merged_df.Restricted2.isnull(), "No","Yes"))
merged_df.head()

,Animal ID,Intake_Type,Intake_Condition,Breed,Color,Age_in_Years,Intactness,Sex,Age,Breed_Type,...,Breed_update,Breed1,Breed2,AKC_group1,Size1,AKC_group2,Size2,Sorted_Color,Restricted1,Restricted2
0,A006100,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,6.0,Altered,Male,Adult,Mix,...,Spinone Italiano,Spinone Italiano,,sporting,large,NaN,NaN,Tan,No,No
1,A006100,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,7.0,Altered,Male,Adult,Mix,...,Spinone Italiano,Spinone Italiano,,sporting,large,NaN,NaN,Tan,No,No
2,A006100,Stray,Normal,Spinone Italiano Mix,Yellow/White,10.0,Altered,Male,Senior,Mix,...,Spinone Italiano,Spinone Italiano,,sporting,large,NaN,NaN,Tan,No,No
3,A047759,Owner Surrender,Normal,Dachshund,Tricolor,10.0,Altered,Male,Senior,Pure,...,Dachshund,Dachshund,,hound,small,NaN,NaN,Tricolor,No,No
4,A134067,Public Assist,Injured,Shetland Sheepdog,Brown/White,16.0,Altered,Male,Senior,Pure,...,Shetland Sheepdog,Shetland Sheepdog,,herding,small,NaN,NaN,Brown/White,No,No

In [99]:
merged_df[merged_df["Breed2"] == "Pit Bull"]

,Animal ID,Intake_Type,Intake_Condition,Breed,Color,Age_in_Years,Intactness,Sex,Age,Breed_Type,...,Breed_update,Breed1,Breed2,AKC_group1,Size1,AKC_group2,Size2,Sorted_Color,Restricted1,Restricted2
5,A141142,Stray,Aged,Labrador Retriever/Pit Bull,Black/White,15.0,Altered,Female,Senior,Mix,...,Labrador Retriever/Pit Bull,Labrador Retriever,Pit Bull,sporting,medium,pit bull,large,Black/White,No,Yes
93,A335182,Stray,Normal,Labrador Retriever/Pit Bull,Black Brindle,10.0,Altered,Female,Senior,Mix,...,Labrador Retriever/Pit Bull,Labrador Retriever,Pit Bull,sporting,medium,pit bull,large,Brindle,No,Yes
131,A357021,Stray,Normal,Labrador Retriever/Pit Bull,White,10.0,Altered,Female,Senior,Mix,...,Labrador Retriever/Pit Bull,Labrador Retriever,Pit Bull,sporting,medium,pit bull,large,White,No,Yes
183,A386005,Stray,Normal,Australian Cattle Dog/Pit Bull,White/Black,10.0,Altered,Male,Senior,Mix,...,Australian Cattle Dog/Pit Bull,Australian Cattle Dog,Pit Bull,herding,medium,pit bull,large,Black/White,No,Yes
264,A430671,Stray,Normal,Labrador Retriever/Pit Bull,Black/White,8.0,Altered,Female,Senior,Mix,...,Labrador Retriever/Pit Bull,Labrador Retriever,Pit Bull,sporting,medium,pit bull,large,Black/White,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75694,A848728,Stray,Normal,German Shepherd/Pit Bull,Black/Tan,0.166667,Intact,Female,Puppy,Mix,...,German Shepherd/Pit Bull,German Shepherd,Pit Bull,herding,large,pit bull,large,Black/Tan,Yes,Yes
75695,A848729,Stray,Normal,German Shepherd/Pit Bull,Black/Tan,0.166667,Intact,Female,Puppy,Mix,...,German Shepherd/Pit Bull,German Shepherd,Pit Bull,herding,large,pit bull,large,Black/Tan,Yes,Yes
75775,A849090,Owner Surrender,Injured,Bulldog/Pit Bull,Tan/White,2.0,Intact,Male,Young,Mix,...,Bulldog/Pit Bull,Bulldog,Pit Bull,non-sporting,medium,pit bull,large,Tan,No,Yes
75856,A849402,Public Assist,Behavior,Bulldog/Pit Bull,Brown/White,2.0,Intact,Male,Young,Mix,...,Bulldog/Pit Bull,Bulldog,Pit Bull,non-sporting,medium,pit bull,large,Brown/White,No,Yes
75971,A849974,Stray,Normal,Labrador Retriever/Pit Bull,Black/White,1.0,Altered,Male,Puppy,Mix,...,Labrador Retriever/Pit Bull,Labrador Retriever,Pit Bull,sporting,medium,pit bull,large,Black/White,No,Yes

In [101]:
merged_df["Restricted"] = ""
for row in merged_df.index:
    if((merged_df["Restricted1"].values[row] == "Yes") | (merged_df["Restricted2"].values[row] == "Yes")):
        merged_df["Restricted"].values[row] = "Yes"
    else:
        merged_df["Restricted"].values[row] = "No"
        
merged_df.head()

,Animal ID,Intake_Type,Intake_Condition,Breed,Color,Age_in_Years,Intactness,Sex,Age,Breed_Type,...,Breed1,Breed2,AKC_group1,Size1,AKC_group2,Size2,Sorted_Color,Restricted1,Restricted2,Restricted
0,A006100,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,6.0,Altered,Male,Adult,Mix,...,Spinone Italiano,,sporting,large,NaN,NaN,Tan,No,No,No
1,A006100,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,7.0,Altered,Male,Adult,Mix,...,Spinone Italiano,,sporting,large,NaN,NaN,Tan,No,No,No
2,A006100,Stray,Normal,Spinone Italiano Mix,Yellow/White,10.0,Altered,Male,Senior,Mix,...,Spinone Italiano,,sporting,large,NaN,NaN,Tan,No,No,No
3,A047759,Owner Surrender,Normal,Dachshund,Tricolor,10.0,Altered,Male,Senior,Pure,...,Dachshund,,hound,small,NaN,NaN,Tricolor,No,No,No
4,A134067,Public Assist,Injured,Shetland Sheepdog,Brown/White,16.0,Altered,Male,Senior,Pure,...,Shetland Sheepdog,,herding,small,NaN,NaN,Brown/White,No,No,No

In [103]:
merged_df[merged_df["Breed2"] == "Pit Bull"]

,Animal ID,Intake_Type,Intake_Condition,Breed,Color,Age_in_Years,Intactness,Sex,Age,Breed_Type,...,Breed1,Breed2,AKC_group1,Size1,AKC_group2,Size2,Sorted_Color,Restricted1,Restricted2,Restricted
5,A141142,Stray,Aged,Labrador Retriever/Pit Bull,Black/White,15.0,Altered,Female,Senior,Mix,...,Labrador Retriever,Pit Bull,sporting,medium,pit bull,large,Black/White,No,Yes,Yes
93,A335182,Stray,Normal,Labrador Retriever/Pit Bull,Black Brindle,10.0,Altered,Female,Senior,Mix,...,Labrador Retriever,Pit Bull,sporting,medium,pit bull,large,Brindle,No,Yes,Yes
131,A357021,Stray,Normal,Labrador Retriever/Pit Bull,White,10.0,Altered,Female,Senior,Mix,...,Labrador Retriever,Pit Bull,sporting,medium,pit bull,large,White,No,Yes,Yes
183,A386005,Stray,Normal,Australian Cattle Dog/Pit Bull,White/Black,10.0,Altered,Male,Senior,Mix,...,Australian Cattle Dog,Pit Bull,herding,medium,pit bull,large,Black/White,No,Yes,Yes
264,A430671,Stray,Normal,Labrador Retriever/Pit Bull,Black/White,8.0,Altered,Female,Senior,Mix,...,Labrador Retriever,Pit Bull,sporting,medium,pit bull,large,Black/White,No,Yes,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75694,A848728,Stray,Normal,German Shepherd/Pit Bull,Black/Tan,0.166667,Intact,Female,Puppy,Mix,...,German Shepherd,Pit Bull,herding,large,pit bull,large,Black/Tan,Yes,Yes,Yes
75695,A848729,Stray,Normal,German Shepherd/Pit Bull,Black/Tan,0.166667,Intact,Female,Puppy,Mix,...,German Shepherd,Pit Bull,herding,large,pit bull,large,Black/Tan,Yes,Yes,Yes
75775,A849090,Owner Surrender,Injured,Bulldog/Pit Bull,Tan/White,2.0,Intact,Male,Young,Mix,...,Bulldog,Pit Bull,non-sporting,medium,pit bull,large,Tan,No,Yes,Yes
75856,A849402,Public Assist,Behavior,Bulldog/Pit Bull,Brown/White,2.0,Intact,Male,Young,Mix,...,Bulldog,Pit Bull,non-sporting,medium,pit bull,large,Brown/White,No,Yes,Yes
75971,A849974,Stray,Normal,Labrador Retriever/Pit Bull,Black/White,1.0,Altered,Male,Puppy,Mix,...,Labrador Retriever,Pit Bull,sporting,medium,pit bull,large,Black/White,No,Yes,Yes

In [104]:
merged_df = merged_df.drop(columns=['Restricted1', 'Restricted2'])
merged_df.head()

,Animal ID,Intake_Type,Intake_Condition,Breed,Color,Age_in_Years,Intactness,Sex,Age,Breed_Type,...,in_Year,Breed_update,Breed1,Breed2,AKC_group1,Size1,AKC_group2,Size2,Sorted_Color,Restricted
0,A006100,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,6.0,Altered,Male,Adult,Mix,...,2014,Spinone Italiano,Spinone Italiano,,sporting,large,NaN,NaN,Tan,No
1,A006100,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,7.0,Altered,Male,Adult,Mix,...,2014,Spinone Italiano,Spinone Italiano,,sporting,large,NaN,NaN,Tan,No
2,A006100,Stray,Normal,Spinone Italiano Mix,Yellow/White,10.0,Altered,Male,Senior,Mix,...,2017,Spinone Italiano,Spinone Italiano,,sporting,large,NaN,NaN,Tan,No
3,A047759,Owner Surrender,Normal,Dachshund,Tricolor,10.0,Altered,Male,Senior,Pure,...,2014,Dachshund,Dachshund,,hound,small,NaN,NaN,Tricolor,No
4,A134067,Public Assist,Injured,Shetland Sheepdog,Brown/White,16.0,Altered,Male,Senior,Pure,...,2013,Shetland Sheepdog,Shetland Sheepdog,,herding,small,NaN,NaN,Brown/White,No

In [106]:
merged_df.to_csv('Resources/merged_AKC.csv')

## Add a column to show if a dog has been in the shelter before
#### 0 = First time at shelter
#### 1 = Brought into shelter before

In [111]:
df = merged_df
df.head(20)

,Animal ID,Intake_Type,Intake_Condition,Breed,Color,Age_in_Years,Intactness,Sex,Age,Breed_Type,...,Breed1,Breed2,AKC_group1,Size1,AKC_group2,Size2,Sorted_Color,Restricted,Duplicates,Multiple_Intakes
0,A006100,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,6.0,Altered,Male,Adult,Mix,...,Spinone Italiano,,sporting,large,NaN,NaN,Tan,No,1,1
1,A006100,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,7.0,Altered,Male,Adult,Mix,...,Spinone Italiano,,sporting,large,NaN,NaN,Tan,No,1,2
2,A006100,Stray,Normal,Spinone Italiano Mix,Yellow/White,10.0,Altered,Male,Senior,Mix,...,Spinone Italiano,,sporting,large,NaN,NaN,Tan,No,1,3
3,A047759,Owner Surrender,Normal,Dachshund,Tricolor,10.0,Altered,Male,Senior,Pure,...,Dachshund,,hound,small,NaN,NaN,Tricolor,No,0,1
4,A134067,Public Assist,Injured,Shetland Sheepdog,Brown/White,16.0,Altered,Male,Senior,Pure,...,Shetland Sheepdog,,herding,small,NaN,NaN,Brown/White,No,0,1
5,A141142,Stray,Aged,Labrador Retriever/Pit Bull,Black/White,15.0,Altered,Female,Senior,Mix,...,Labrador Retriever,Pit Bull,sporting,medium,pit bull,large,Black/White,Yes,0,1
6,A163459,Stray,Normal,Miniature Schnauzer Mix,Black/Gray,15.0,Intact,Female,Senior,Mix,...,Miniature Schnauzer,,terrier,small,NaN,NaN,Black/Gray,No,0,1
7,A165752,Stray,Normal,Lhasa Apso Mix,Brown/White,15.0,Altered,Male,Senior,Mix,...,Lhasa Apso,,non-sporting,small,NaN,NaN,Brown/White,No,0,1
8,A178569,Public Assist,Normal,Shetland Sheepdog Mix,White/Black,15.0,Altered,Male,Senior,Mix,...,Shetland Sheepdog,,herding,small,NaN,NaN,Black/White,No,0,1
9,A189592,Stray,Normal,Shetland Sheepdog Mix,Brown/White,18.0,Altered,Female,Senior,Mix,...,Shetland Sheepdog,,herding,small,NaN,NaN,Brown/White,No,0,1
10,A200922,Owner Surrender,Normal,Dachshund Mix,Black/Tan,16.0,Altered,Male,Senior,Mix,...,Dachshund,,hound,small,NaN,NaN,Black/Tan,No,0,1
11,A208755,Owner Surrender,Sick,Border Collie Mix,Black/White,14.0,Altered,Male,Senior,Mix,...,Border Collie,,herding,medium,NaN,NaN,Black/White,No,0,1
12,A210457,Public Assist,Aged,Chihuahua Shorthair,Tan/Black,17.0,Altered,Male,Senior,Pure,...,Chihuahua Shorthair,,toy,small,NaN,NaN,Black/Tan,No,0,1
13,A212672,Stray,Normal,German Shepherd/Labrador Retriever,Tan/Black,13.0,Intact,Female,Senior,Mix,...,German Shepherd,Labrador Retriever,herding,large,sporting,medium,Black/Tan,Yes,0,1
14,A215368,Stray,Normal,Newfoundland Mix,Black,13.0,Altered,Male,Senior,Mix,...,Newfoundland,,working,large,NaN,NaN,Black,No,0,1
15,A218622,Owner Surrender,Sick,Pug,Gold/Gold,15.0,Altered,Male,Senior,Pure,...,Pug,,toy,medium,NaN,NaN,Tan,No,0,1
16,A218624,Owner Surrender,Sick,Pug,Gold/Gold,15.0,Altered,Male,Senior,Pure,...,Pug,,toy,medium,NaN,NaN,Tan,No,0,1
17,A221327,Stray,Injured,Staffordshire Mix,Brown/White,16.0,Altered,Female,Senior,Mix,...,Staffordshire,,terrier,medium,NaN,NaN,Brown/White,Yes,0,1
18,A221448,Stray,Normal,Labrador Retriever Mix,Brown/White,12.0,Altered,Male,Senior,Mix,...,Labrador Retriever,,sporting,medium,NaN,NaN,Brown/White,No,0,1
19,A226069,Stray,Normal,Labrador Retriever/Beagle,Sable/White,15.0,Altered,Male,Senior,Mix,...,Labrador Retriever,Beagle,sporting,medium,hound,small,Sable,No,0,1

In [112]:
# Create column Multiple to determine true/false if animal ID is duplicated
df['Duplicates'] = df.duplicated(subset='Animal ID', keep=False)

# Convert Multiple_Intakes to int that returns 0,1
df['Duplicates'] = df['Duplicates'].astype(int)

df.head()

,Animal ID,Intake_Type,Intake_Condition,Breed,Color,Age_in_Years,Intactness,Sex,Age,Breed_Type,...,Breed1,Breed2,AKC_group1,Size1,AKC_group2,Size2,Sorted_Color,Restricted,Duplicates,Multiple_Intakes
0,A006100,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,6.0,Altered,Male,Adult,Mix,...,Spinone Italiano,,sporting,large,NaN,NaN,Tan,No,1,1
1,A006100,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,7.0,Altered,Male,Adult,Mix,...,Spinone Italiano,,sporting,large,NaN,NaN,Tan,No,1,2
2,A006100,Stray,Normal,Spinone Italiano Mix,Yellow/White,10.0,Altered,Male,Senior,Mix,...,Spinone Italiano,,sporting,large,NaN,NaN,Tan,No,1,3
3,A047759,Owner Surrender,Normal,Dachshund,Tricolor,10.0,Altered,Male,Senior,Pure,...,Dachshund,,hound,small,NaN,NaN,Tricolor,No,0,1
4,A134067,Public Assist,Injured,Shetland Sheepdog,Brown/White,16.0,Altered,Male,Senior,Pure,...,Shetland Sheepdog,,herding,small,NaN,NaN,Brown/White,No,0,1

In [110]:
# Create counter column with each occurrence of the animal id
df['Multiple_Intakes'] = df.groupby('Animal ID').cumcount()+1
df.head(20)

,Animal ID,Intake_Type,Intake_Condition,Breed,Color,Age_in_Years,Intactness,Sex,Age,Breed_Type,...,Breed1,Breed2,AKC_group1,Size1,AKC_group2,Size2,Sorted_Color,Restricted,Duplicates,Multiple_Intakes
0,A006100,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,6.0,Altered,Male,Adult,Mix,...,Spinone Italiano,,sporting,large,NaN,NaN,Tan,No,1,1
1,A006100,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,7.0,Altered,Male,Adult,Mix,...,Spinone Italiano,,sporting,large,NaN,NaN,Tan,No,1,2
2,A006100,Stray,Normal,Spinone Italiano Mix,Yellow/White,10.0,Altered,Male,Senior,Mix,...,Spinone Italiano,,sporting,large,NaN,NaN,Tan,No,1,3
3,A047759,Owner Surrender,Normal,Dachshund,Tricolor,10.0,Altered,Male,Senior,Pure,...,Dachshund,,hound,small,NaN,NaN,Tricolor,No,0,1
4,A134067,Public Assist,Injured,Shetland Sheepdog,Brown/White,16.0,Altered,Male,Senior,Pure,...,Shetland Sheepdog,,herding,small,NaN,NaN,Brown/White,No,0,1
5,A141142,Stray,Aged,Labrador Retriever/Pit Bull,Black/White,15.0,Altered,Female,Senior,Mix,...,Labrador Retriever,Pit Bull,sporting,medium,pit bull,large,Black/White,Yes,0,1
6,A163459,Stray,Normal,Miniature Schnauzer Mix,Black/Gray,15.0,Intact,Female,Senior,Mix,...,Miniature Schnauzer,,terrier,small,NaN,NaN,Black/Gray,No,0,1
7,A165752,Stray,Normal,Lhasa Apso Mix,Brown/White,15.0,Altered,Male,Senior,Mix,...,Lhasa Apso,,non-sporting,small,NaN,NaN,Brown/White,No,0,1
8,A178569,Public Assist,Normal,Shetland Sheepdog Mix,White/Black,15.0,Altered,Male,Senior,Mix,...,Shetland Sheepdog,,herding,small,NaN,NaN,Black/White,No,0,1
9,A189592,Stray,Normal,Shetland Sheepdog Mix,Brown/White,18.0,Altered,Female,Senior,Mix,...,Shetland Sheepdog,,herding,small,NaN,NaN,Brown/White,No,0,1
10,A200922,Owner Surrender,Normal,Dachshund Mix,Black/Tan,16.0,Altered,Male,Senior,Mix,...,Dachshund,,hound,small,NaN,NaN,Black/Tan,No,0,1
11,A208755,Owner Surrender,Sick,Border Collie Mix,Black/White,14.0,Altered,Male,Senior,Mix,...,Border Collie,,herding,medium,NaN,NaN,Black/White,No,0,1
12,A210457,Public Assist,Aged,Chihuahua Shorthair,Tan/Black,17.0,Altered,Male,Senior,Pure,...,Chihuahua Shorthair,,toy,small,NaN,NaN,Black/Tan,No,0,1
13,A212672,Stray,Normal,German Shepherd/Labrador Retriever,Tan/Black,13.0,Intact,Female,Senior,Mix,...,German Shepherd,Labrador Retriever,herding,large,sporting,medium,Black/Tan,Yes,0,1
14,A215368,Stray,Normal,Newfoundland Mix,Black,13.0,Altered,Male,Senior,Mix,...,Newfoundland,,working,large,NaN,NaN,Black,No,0,1
15,A218622,Owner Surrender,Sick,Pug,Gold/Gold,15.0,Altered,Male,Senior,Pure,...,Pug,,toy,medium,NaN,NaN,Tan,No,0,1
16,A218624,Owner Surrender,Sick,Pug,Gold/Gold,15.0,Altered,Male,Senior,Pure,...,Pug,,toy,medium,NaN,NaN,Tan,No,0,1
17,A221327,Stray,Injured,Staffordshire Mix,Brown/White,16.0,Altered,Female,Senior,Mix,...,Staffordshire,,terrier,medium,NaN,NaN,Brown/White,Yes,0,1
18,A221448,Stray,Normal,Labrador Retriever Mix,Brown/White,12.0,Altered,Male,Senior,Mix,...,Labrador Retriever,,sporting,medium,NaN,NaN,Brown/White,No,0,1
19,A226069,Stray,Normal,Labrador Retriever/Beagle,Sable/White,15.0,Altered,Male,Senior,Mix,...,Labrador Retriever,Beagle,sporting,medium,hound,small,Sable,No,0,1

In [113]:
# Replace all 1's with 0
df['Multiple_Intakes'] = df['Multiple_Intakes'].replace([1],0)
df

,Animal ID,Intake_Type,Intake_Condition,Breed,Color,Age_in_Years,Intactness,Sex,Age,Breed_Type,...,Breed1,Breed2,AKC_group1,Size1,AKC_group2,Size2,Sorted_Color,Restricted,Duplicates,Multiple_Intakes
0,A006100,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,6.0,Altered,Male,Adult,Mix,...,Spinone Italiano,,sporting,large,NaN,NaN,Tan,No,1,0
1,A006100,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,7.0,Altered,Male,Adult,Mix,...,Spinone Italiano,,sporting,large,NaN,NaN,Tan,No,1,2
2,A006100,Stray,Normal,Spinone Italiano Mix,Yellow/White,10.0,Altered,Male,Senior,Mix,...,Spinone Italiano,,sporting,large,NaN,NaN,Tan,No,1,3
3,A047759,Owner Surrender,Normal,Dachshund,Tricolor,10.0,Altered,Male,Senior,Pure,...,Dachshund,,hound,small,NaN,NaN,Tricolor,No,0,0
4,A134067,Public Assist,Injured,Shetland Sheepdog,Brown/White,16.0,Altered,Male,Senior,Pure,...,Shetland Sheepdog,,herding,small,NaN,NaN,Brown/White,No,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75977,A850187,Stray,Normal,Labrador Retriever,Cream,0.008219,Unknown,None,Puppy,Pure,...,Labrador Retriever,,sporting,medium,NaN,NaN,White,No,0,0
75978,A850188,Stray,Normal,Labrador Retriever,Cream,0.008219,Unknown,None,Puppy,Pure,...,Labrador Retriever,,sporting,medium,NaN,NaN,White,No,0,0
75979,A850189,Stray,Normal,Labrador Retriever,Cream,0.008219,Unknown,None,Puppy,Pure,...,Labrador Retriever,,sporting,medium,NaN,NaN,White,No,0,0
75980,A850190,Stray,Normal,Labrador Retriever,Cream,0.008219,Unknown,None,Puppy,Pure,...,Labrador Retriever,,sporting,medium,NaN,NaN,White,No,0,0
75981,A850191,Stray,Normal,Labrador Retriever,Cream,0.008219,Unknown,None,Puppy,Pure,...,Labrador Retriever,,sporting,medium,NaN,NaN,White,No,0,0

In [114]:
# Replace all values >=1 with 1
df['Multiple_Intakes'].where(df['Multiple_Intakes'] <= 1, 1, inplace=True)
df

,Animal ID,Intake_Type,Intake_Condition,Breed,Color,Age_in_Years,Intactness,Sex,Age,Breed_Type,...,Breed1,Breed2,AKC_group1,Size1,AKC_group2,Size2,Sorted_Color,Restricted,Duplicates,Multiple_Intakes
0,A006100,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,6.0,Altered,Male,Adult,Mix,...,Spinone Italiano,,sporting,large,NaN,NaN,Tan,No,1,0
1,A006100,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,7.0,Altered,Male,Adult,Mix,...,Spinone Italiano,,sporting,large,NaN,NaN,Tan,No,1,1
2,A006100,Stray,Normal,Spinone Italiano Mix,Yellow/White,10.0,Altered,Male,Senior,Mix,...,Spinone Italiano,,sporting,large,NaN,NaN,Tan,No,1,1
3,A047759,Owner Surrender,Normal,Dachshund,Tricolor,10.0,Altered,Male,Senior,Pure,...,Dachshund,,hound,small,NaN,NaN,Tricolor,No,0,0
4,A134067,Public Assist,Injured,Shetland Sheepdog,Brown/White,16.0,Altered,Male,Senior,Pure,...,Shetland Sheepdog,,herding,small,NaN,NaN,Brown/White,No,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75977,A850187,Stray,Normal,Labrador Retriever,Cream,0.008219,Unknown,None,Puppy,Pure,...,Labrador Retriever,,sporting,medium,NaN,NaN,White,No,0,0
75978,A850188,Stray,Normal,Labrador Retriever,Cream,0.008219,Unknown,None,Puppy,Pure,...,Labrador Retriever,,sporting,medium,NaN,NaN,White,No,0,0
75979,A850189,Stray,Normal,Labrador Retriever,Cream,0.008219,Unknown,None,Puppy,Pure,...,Labrador Retriever,,sporting,medium,NaN,NaN,White,No,0,0
75980,A850190,Stray,Normal,Labrador Retriever,Cream,0.008219,Unknown,None,Puppy,Pure,...,Labrador Retriever,,sporting,medium,NaN,NaN,White,No,0,0
75981,A850191,Stray,Normal,Labrador Retriever,Cream,0.008219,Unknown,None,Puppy,Pure,...,Labrador Retriever,,sporting,medium,NaN,NaN,White,No,0,0

In [115]:
merged_df = df.drop(columns=['Duplicates'])
merged_df.head()

,Animal ID,Intake_Type,Intake_Condition,Breed,Color,Age_in_Years,Intactness,Sex,Age,Breed_Type,...,Breed_update,Breed1,Breed2,AKC_group1,Size1,AKC_group2,Size2,Sorted_Color,Restricted,Multiple_Intakes
0,A006100,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,6.0,Altered,Male,Adult,Mix,...,Spinone Italiano,Spinone Italiano,,sporting,large,NaN,NaN,Tan,No,0
1,A006100,Public Assist,Normal,Spinone Italiano Mix,Yellow/White,7.0,Altered,Male,Adult,Mix,...,Spinone Italiano,Spinone Italiano,,sporting,large,NaN,NaN,Tan,No,1
2,A006100,Stray,Normal,Spinone Italiano Mix,Yellow/White,10.0,Altered,Male,Senior,Mix,...,Spinone Italiano,Spinone Italiano,,sporting,large,NaN,NaN,Tan,No,1
3,A047759,Owner Surrender,Normal,Dachshund,Tricolor,10.0,Altered,Male,Senior,Pure,...,Dachshund,Dachshund,,hound,small,NaN,NaN,Tricolor,No,0
4,A134067,Public Assist,Injured,Shetland Sheepdog,Brown/White,16.0,Altered,Male,Senior,Pure,...,Shetland Sheepdog,Shetland Sheepdog,,herding,small,NaN,NaN,Brown/White,No,0