In [1]:
# Imports
import pandas as pd

In [2]:
# Import intake CSV data
intake_df = pd.read_csv("Resources/Austin_Animal_Center_Intakes.csv")
intake_df.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,01/03/2019 04:19:00 PM,01/03/2019 04:19:00 PM,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,07/05/2015 12:59:00 PM,07/05/2015 12:59:00 PM,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,04/14/2016 06:43:00 PM,04/14/2016 06:43:00 PM,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,10/21/2013 07:59:00 AM,10/21/2013 07:59:00 AM,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,06/29/2014 10:38:00 AM,06/29/2014 10:38:00 AM,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [3]:
data = [intake_df["Animal ID"], intake_df["Age upon Intake"]]
headers = ["ID", "Age"]
intake_age_df = pd.concat(data, axis=1, keys=headers)
intake_age_df.head()

        ID        Age
0  A786884    2 years
1  A706918    8 years
2  A724273  11 months
3  A665644    4 weeks
4  A682524    4 years

In [4]:
# new data frame with split value columns
new = intake_age_df["Age"].str.split(" ", n = 1, expand = True)

# making separate columns for the number and string from new data frame
intake_age_df["Age_Value"]= new[0]
intake_age_df["Age_Unit"]= new[1]

intake_age_df

             ID        Age Age_Value Age_Unit
0       A786884    2 years         2    years
1       A706918    8 years         8    years
2       A724273  11 months        11   months
3       A665644    4 weeks         4    weeks
4       A682524    4 years         4    years
...         ...        ...       ...      ...
135657  A844937   3 months         3   months
135658  A849878   7 months         7   months
135659  A844379    2 years         2    years
135660  A848718    4 years         4    years
135661  A850105  10 months        10   months

[135662 rows x 4 columns]

In [5]:
unit_counts = intake_age_df.Age_Unit.value_counts()
unit_counts

years     53666
months    28399
year      23247
month     13341
weeks     13057
days       2126
week       1110
day         716
Name: Age_Unit, dtype: int64

In [6]:
# convert ages in months to ages in years

for row in intake_age_df.index:
    if((intake_age_df["Age_Unit"].values[row] == "months") | (intake_age_df["Age_Unit"].values[row] == "month")):
        intake_age_df["Age_Value"].values[row] = float(intake_age_df["Age_Value"].values[row])/12
    if((intake_age_df["Age_Unit"].values[row] == "weeks") | (intake_age_df["Age_Unit"].values[row] == "week")):
        intake_age_df["Age_Value"].values[row] = float(intake_age_df["Age_Value"].values[row])/52
    if((intake_age_df["Age_Unit"].values[row] == "days") | (intake_age_df["Age_Unit"].values[row] == "day")):
        intake_age_df["Age_Value"].values[row] = float(intake_age_df["Age_Value"].values[row])/365
    if((intake_age_df["Age_Unit"].values[row] == "years") | (intake_age_df["Age_Unit"].values[row] == "year")):
        intake_age_df["Age_Value"].values[row] = float(intake_age_df["Age_Value"].values[row])
        
intake_age_df

             ID        Age Age_Value Age_Unit
0       A786884    2 years       2.0    years
1       A706918    8 years       8.0    years
2       A724273  11 months  0.916667   months
3       A665644    4 weeks  0.076923    weeks
4       A682524    4 years       4.0    years
...         ...        ...       ...      ...
135657  A844937   3 months      0.25   months
135658  A849878   7 months  0.583333   months
135659  A844379    2 years       2.0    years
135660  A848718    4 years       4.0    years
135661  A850105  10 months  0.833333   months

[135662 rows x 4 columns]

In [7]:
# put converted age back into intake dataframe
intake_df["Age_in_Years"] = intake_age_df["Age_Value"]
intake_df.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Age_in_Years
0,A786884,*Brock,01/03/2019 04:19:00 PM,01/03/2019 04:19:00 PM,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,2.0
1,A706918,Belle,07/05/2015 12:59:00 PM,07/05/2015 12:59:00 PM,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,8.0
2,A724273,Runster,04/14/2016 06:43:00 PM,04/14/2016 06:43:00 PM,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,0.916667
3,A665644,NaN,10/21/2013 07:59:00 AM,10/21/2013 07:59:00 AM,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,0.076923
4,A682524,Rio,06/29/2014 10:38:00 AM,06/29/2014 10:38:00 AM,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,4.0

In [8]:
intake_df=intake_df[intake_df["Animal Type"]=="Dog"]

In [9]:
intake_working = intake_df.loc[:, ["Animal ID","DateTime","Sex upon Intake","Breed","Age_in_Years"]]
intake_working.head()

,Animal ID,DateTime,Sex upon Intake,Breed,Age_in_Years
0,A786884,01/03/2019 04:19:00 PM,Neutered Male,Beagle Mix,2.0
1,A706918,07/05/2015 12:59:00 PM,Spayed Female,English Springer Spaniel,8.0
2,A724273,04/14/2016 06:43:00 PM,Intact Male,Basenji Mix,0.916667
4,A682524,06/29/2014 10:38:00 AM,Neutered Male,Doberman Pinsch/Australian Cattle Dog,4.0
5,A743852,02/18/2017 12:46:00 PM,Neutered Male,Labrador Retriever Mix,2.0

In [10]:
sexsplit=intake_working["Sex upon Intake"].str.split(" ",n=1, expand=True)
sexsplit

               0       1
0       Neutered    Male
1         Spayed  Female
2         Intact    Male
4       Neutered    Male
5       Neutered    Male
...          ...     ...
135655    Intact    Male
135656  Neutered    Male
135658    Intact  Female
135660    Intact  Female
135661    Intact    Male

[76334 rows x 2 columns]

In [11]:
intake_working["Sex"]=sexsplit[1]

In [12]:
intake_working["SpayNeuter"]=sexsplit[0]

In [13]:
intake_working.drop(columns="Sex upon Intake", inplace=True)
intake_working.head()

,Animal ID,DateTime,Breed,Age_in_Years,Sex,SpayNeuter
0,A786884,01/03/2019 04:19:00 PM,Beagle Mix,2.0,Male,Neutered
1,A706918,07/05/2015 12:59:00 PM,English Springer Spaniel,8.0,Female,Spayed
2,A724273,04/14/2016 06:43:00 PM,Basenji Mix,0.916667,Male,Intact
4,A682524,06/29/2014 10:38:00 AM,Doberman Pinsch/Australian Cattle Dog,4.0,Male,Neutered
5,A743852,02/18/2017 12:46:00 PM,Labrador Retriever Mix,2.0,Male,Neutered

In [14]:
intake_working["str_mix"]=intake_working["Breed"].str.find("Mix")
intake_working.loc[intake_working["str_mix"]>=0, ["str_mix"]]=1
intake_working.loc[intake_working["str_mix"]==-1,["str_mix"]]=0

intake_working["str_slash"]=intake_working["Breed"].str.find("/")
intake_working.loc[intake_working["str_slash"]>=0, ["str_slash"]]=1
intake_working.loc[intake_working["str_slash"]==-1,["str_slash"]]=0

intake_working["Mix"]=0
intake_working.loc[intake_working["str_mix"]==1, ["Mix"]]=1
intake_working.loc[intake_working["str_slash"]==1, ["Mix"]]=1
    

intake_working.head()

,Animal ID,DateTime,Breed,Age_in_Years,Sex,SpayNeuter,str_mix,str_slash,Mix
0,A786884,01/03/2019 04:19:00 PM,Beagle Mix,2.0,Male,Neutered,1,0,1
1,A706918,07/05/2015 12:59:00 PM,English Springer Spaniel,8.0,Female,Spayed,0,0,0
2,A724273,04/14/2016 06:43:00 PM,Basenji Mix,0.916667,Male,Intact,1,0,1
4,A682524,06/29/2014 10:38:00 AM,Doberman Pinsch/Australian Cattle Dog,4.0,Male,Neutered,0,1,1
5,A743852,02/18/2017 12:46:00 PM,Labrador Retriever Mix,2.0,Male,Neutered,1,0,1

In [15]:
# Make sure there are no other markers for mix.
intake_working["Breed"].str.find("mix").value_counts()

-1    76334
Name: Breed, dtype: int64

In [16]:
ands=intake_working[intake_working["Breed"].str.find("\sand")>-1]
ands

Empty DataFrame
Columns: [Animal ID, DateTime, Breed, Age_in_Years, Sex, SpayNeuter, str_mix, str_slash, Mix]
Index: []

In [17]:
from collections import Counter 
Counter(intake_working["Breed"])

# **Note, breed match may not work for Anatol Shepherd, Pbgv and Bruss Griffon,  bc first abbrev.
# No sign of any other marker for mix than "and" and "/"

Counter({'Beagle Mix': 619,
         'English Springer Spaniel': 8,
         'Basenji Mix': 80,
         'Doberman Pinsch/Australian Cattle Dog': 2,
         'Labrador Retriever Mix': 7312,
         'Great Dane Mix': 121,
         'Chihuahua Shorthair': 1301,
         'Pit Bull': 1837,
         'Australian Cattle Dog/Labrador Retriever': 102,
         'Parson Russell Terrier Mix': 50,
         'Norfolk Terrier': 15,
         'Yorkshire Terrier Mix': 642,
         'Maltese Mix': 230,
         'Rottweiler Mix': 456,
         'Dachshund Mix': 1084,
         'Boxer Mix': 1035,
         'Plott Hound Mix': 425,
         'Labrador Retriever': 1282,
         'Pit Bull Mix': 8853,
         'Tibetan Spaniel Mix': 36,
         'Miniature Pinscher Mix': 214,
         'Chihuahua Shorthair Mix': 6459,
         'Pit Bull/Australian Cattle Dog': 54,
         'Yorkshire Terrier': 140,
         'Dachshund/Chihuahua Shorthair': 294,
         'German Shepherd/Chow Chow': 31,
         'Miniature Schnauzer Mix': 614,
         'German Shepherd/Australian Cattle Dog': 44,
         'German Shepherd': 1136,
         'Great Dane': 69,
         'Australian Kelpie Mix': 397,
         'Alaskan Husky': 89,
         'Great Pyrenees Mix': 611,
         'German Shepherd Mix': 3273,
         'Feist/Beagle': 3,
         'American Pit Bull Terrier Mix': 344,
         'Norfolk Terrier Mix': 108,
         'Chihuahua Shorthair/Jack Russell Terrier': 69,
         'Italian Greyhound Mix': 36,
         'Treeing Walker Coonhound Mix': 55,
         'Boxer': 240,
         'Staffordshire/English Bulldog': 8,
         'Bull Terrier Mix': 110,
         'Australian Shepherd/Chow Chow': 9,
         'Chihuahua Longhair Mix': 510,
         'Black Mouth Cur/Pit Bull': 15,
         'Boston Terrier/Pembroke Welsh Corgi': 2,
         'Black Mouth Cur Mix': 417,
         'German Shepherd/Great Pyrenees': 27,
         'Cairn Terrier Mix': 535,
         'Miniature Schnauzer/Miniature Poodle': 93,
         'Pointer/Beagle': 12,
         'American Staffordshire Terrier Mix': 282,
         'Collie Smooth Mix': 113,
         'Standard Schnauzer': 14,
         'Papillon Mix': 61,
         'Labrador Retriever/Beagle': 75,
         'Staffordshire': 91,
         'Labrador Retriever/Border Collie': 153,
         'Siberian Husky Mix': 750,
         'Bloodhound': 15,
         'Jack Russell Terrier Mix': 575,
         'Toy Fox Terrier Mix': 30,
         'Labrador Retriever/Rhod Ridgeback': 11,
         'Plott Hound': 55,
         'Beagle/Dachshund': 49,
         'Siberian Husky': 521,
         'Shih Tzu': 224,
         'Australian Cattle Dog': 357,
         'Rottweiler/German Shepherd': 23,
         'Australian Shepherd Mix': 737,
         'Basenji/Australian Cattle Dog': 4,
         'Pit Bull/Boxer': 106,
         'Lhasa Apso Mix': 154,
         'Pomeranian': 60,
         'Shih Tzu/Chihuahua Shorthair': 14,
         'Miniature Schnauzer/Yorkshire Terrier': 22,
         'American Bulldog Mix': 485,
         'Shih Tzu Mix': 413,
         'Labrador Retriever/Great Pyrenees': 119,
         'Miniature Schnauzer': 126,
         'Rat Terrier': 101,
         'Rat Terrier Mix': 654,
         'Norfolk Terrier/Chihuahua Shorthair': 22,
         'Labrador Retriever/Pointer': 60,
         'Smooth Fox Terrier': 12,
         'Border Collie Mix': 1000,
         'Miniature Pinscher/Yorkshire Terrier': 1,
         'Australian Cattle Dog Mix': 1626,
         'Rhod Ridgeback/Labrador Retriever': 20,
         'Queensland Heeler Mix': 177,
         'Golden Retriever Mix': 246,
         'Mastiff/Rottweiler': 5,
         'Dachshund Wirehair/Border Terrier': 8,
         'Irish Wolfhound Mix': 14,
         'Welsh Terrier': 26,
         'German Shepherd/Cardigan Welsh Corgi': 12,
         'Labrador Retriever/German Shepherd': 283,
         'Bruss Griffon Mix': 54,
         'Wire Hair Fox Terrier Mix': 59,
         'Australian Cattle Dog/Rhod Ridgeback': 2,
         'Blue Lacy Mix': 192,
         'Chihuahua Longhair/Dachshund Wirehair': 2,
         'Chihuahua Shorthair/Dachshund': 384,
         'Alaskan Husky/German Shepherd': 42,
         'Cairn Terrier': 152,
         'Catahoula Mix': 736,
         'Boston Terrier': 71,
         'Dachshund/Cardigan Welsh Corgi': 7,
         'Cardigan Welsh Corgi Mix': 152,
         'Alaskan Husky Mix': 138,
         'Smooth Fox Terrier Mix': 51,
         'Labrador Retriever/Pit Bull': 393,
         'Shetland Sheepdog Mix': 55,
         'Labrador Retriever/Anatol Shepherd': 30,
         'Pit Bull/Labrador Retriever': 246,
         'Catahoula/Australian Cattle Dog': 17,
         'German Shepherd/Labrador Retriever': 325,
         'Presa Canario Mix': 9,
         'Chesa Bay Retr Mix': 25,
         'German Shorthair Pointer Mix': 63,
         'Pointer Mix': 551,
         'American Pit Bull Terrier': 155,
         'Silky Terrier Mix': 14,
         'Labrador Retriever/Australian Cattle Dog': 129,
         'Beagle': 150,
         'Australian Cattle Dog/Beagle': 17,
         'Pointer/Rat Terrier': 4,
         'Toy Poodle Mix': 122,
         'Tibetan Spaniel/Chihuahua Longhair': 2,
         'Dachshund': 236,
         'Miniature Poodle Mix': 871,
         'Australian Cattle Dog/Chinese Sharpei': 4,
         'Great Pyrenees/German Shepherd': 14,
         'Rottweiler/Siberian Husky': 5,
         'Great Pyrenees': 276,
         'Toy Poodle': 45,
         'Border Terrier/Chihuahua Shorthair': 14,
         'Rat Terrier/Chihuahua Shorthair': 84,
         'Labrador Retriever/Australian Shepherd': 45,
         'Pug Mix': 160,
         'Harrier Mix': 91,
         'Standard Poodle Mix': 31,
         'Airedale Terrier Mix': 28,
         'Chow Chow/Australian Kelpie': 1,
         'Dachshund/Beagle': 37,
         'Jack Russell Terrier/Chihuahua Shorthair': 69,
         'Akita Mix': 61,
         'Black/Tan Hound Mix': 131,
         'Chihuahua Shorthair/Rat Terrier': 90,
         'Border Collie/Labrador Retriever': 123,
         'Staffordshire Mix': 716,
         'Carolina Dog': 20,
         'Redbone Hound Mix': 95,
         'Bloodhound Mix': 38,
         'Chihuahua Shorthair/French Bulldog': 2,
         'Anatol Shepherd': 95,
         'Bullmastiff Mix': 34,
         'Pit Bull/Plott Hound': 10,
         'Norwich Terrier/Yorkshire Terrier': 6,
         'Australian Shepherd': 114,
         'Bichon Frise/Pekingese': 1,
         'Labrador Retriever/Boxer': 88,
         'Vizsla Mix': 55,
         'Greater Swiss Mountain Dog': 1,
         'Dachshund/Bloodhound': 3,
         'Cairn Terrier/Chihuahua Shorthair': 35,
         'Schnauzer Giant Mix': 28,
         'Miniature Poodle/Australian Shepherd': 1,
         'Anatol Shepherd Mix': 453,
         'Whippet Mix': 86,
         'Anatol Shepherd/Alaskan Husky': 4,
         'Chesa Bay Retr/Pit Bull': 1,
         'Flat Coat Retriever/Pit Bull': 3,
         'English Bulldog Mix': 97,
         'English Shepherd Mix': 12,
         'Dogo Argentino Mix': 28,
         'Catahoula/Harrier': 3,
         'Dachshund/Dachshund': 2,
         'Beagle/Rat Terrier': 9,
         'Basset Hound/Labrador Retriever': 19,
         'Catahoula': 93,
         'Beagle/Cardigan Welsh Corgi': 3,
         'Old English Sheepdog': 3,
         'Boxer/American Bulldog': 5,
         'Border Terrier Mix': 213,
         'Pomeranian Mix': 159,
         'Chinese Sharpei': 36,
         'German Shepherd/Siberian Husky': 79,
         'Chihuahua Shorthair/American Staffordshire Terrier': 3,
         'Manchester Terrier Mix': 121,
         'Rhod Ridgeback Mix': 104,
         'Basset Hound Mix': 166,
         'Labrador Retriever/Chinese Sharpei': 46,
         'German Shepherd/Weimaraner': 1,
         'Basset Hound': 63,
         'American Pit Bull Terrier/Dachshund': 2,
         'Chinese Sharpei Mix': 147,
         'Pit Bull/Catahoula': 39,
         'Miniature Poodle/Maltese': 41,
         'Black Mouth Cur': 51,
         'Dogue De Bordeaux Mix': 19,
         'Australian Shepherd/Anatol Shepherd': 7,
         'Chihuahua Shorthair/Catahoula': 4,
         'Scottish Terrier Mix': 37,
         'Belgian Malinois': 49,
         'Doberman Pinsch/German Shepherd': 6,
         'Vizsla/Boxer': 2,
         'Irish Terrier': 6,
         'Doberman Pinsch Mix': 184,
         'Plott Hound/Australian Cattle Dog': 7,
         'Border Terrier/Scottish Terrier': 3,
         'Australian Terrier Mix': 23,
         'Greyhound': 15,
         'American Eskimo': 14,
         'Border Collie/Great Pyrenees': 31,
         'Irish Terrier/Basset Hound': 4,
         'Miniature Poodle': 169,
         'Labrador Retriever/Dachshund': 31,
         'Doberman Pinsch': 134,
         'Nova Scotia Duck Tolling Retriever Mix': 7,
         'American Staffordshire Terrier/Plott Hound': 1,
         'Pembroke Welsh Corgi Mix': 86,
         'West Highland/Cairn Terrier': 2,
         'Labrador Retriever/Shiba Inu': 3,
         'Dachshund Wirehair Mix': 114,
         'Cocker Spaniel/Miniature Poodle': 20,
         'Plott Hound/Boxer': 5,
         'Soft Coated Wheaten Terrier Mix': 76,
         'Beagle/German Shepherd': 25,
         'Dutch Shepherd Mix': 60,
         'Great Dane/Mastiff': 3,
         'Chihuahua Shorthair/Smooth Fox Terrier': 4,
         'Rottweiler': 225,
         'Havanese Mix': 38,
         'Pekingese': 43,
         'Queensland Heeler/Dachshund': 2,
         'Collie Rough': 10,
         'Pointer': 87,
         'Pug/Chihuahua Shorthair': 50,
         'Pit Bull/Chinese Sharpei': 39,
         'Black/Tan Hound': 25,
         'Catahoula/Plott Hound': 21,
         'Soft Coated Wheaten Terrier': 22,
         'Shiba Inu Mix': 52,
         'Boxer/Pit Bull': 94,
         'Miniature Pinscher': 86,
         'Cocker Spaniel Mix': 149,
         'Chihuahua Shorthair/Parson Russell Terrier': 5,
         'Chow Chow Mix': 185,
         'Miniature Poodle/Scottish Terrier': 1,
         'Dachshund Longhair Mix': 128,
         'Chinese Sharpei/Labrador Retriever': 28,
         'Chihuahua Shorthair/Cardigan Welsh Corgi': 39,
         'Chihuahua Shorthair/Yorkshire Terrier': 31,
         'Smooth Fox Terrier/Jack Russell Terrier': 2,
         'Australian Cattle Dog/German Shepherd': 55,
         'Maltese/Miniature Poodle': 100,
         'West Highland Mix': 69,
         'Labrador Retriever/Catahoula': 43,
         'Bruss Griffon/Pug': 4,
         'Bichon Frise Mix': 72,
         'Labrador Retriever/Australian Kelpie': 20,
         'Miniature Schnauzer/Dachshund Wirehair': 4,
         'Norfolk Terrier/Yorkshire Terrier': 5,
         'Cocker Spaniel': 81,
         'Border Collie/Pointer': 6,
         'Chihuahua Shorthair/Cairn Terrier': 28,
         'German Shepherd/Mastiff': 8,
         'Labrador Retriever/Siberian Husky': 35,
         'Dalmatian': 13,
         'Australian Kelpie': 36,
         'Standard Poodle/Labrador Retriever': 19,
         'Akita/German Shepherd': 7,
         'Labrador Retriever/Blue Lacy': 18,
         'Bichon Frise/Miniature Poodle': 4,
         'St. Bernard Smooth Coat Mix': 22,
         'Staffordshire/American Bulldog': 1,
         'Chihuahua Shorthair/Pug': 85,
         'English Bulldog': 73,
         'American Bulldog/Pit Bull': 25,
         'Chihuahua Shorthair/Boston Terrier': 21,
         'Jack Russell Terrier': 93,
         'Tibetan Mastiff Mix': 1,
         'Bull Terrier': 57,
         'Pekingese Mix': 94,
         'Coton De Tulear Mix': 4,
         'French Bulldog Mix': 21,
         'Border Collie': 147,
         'Lhasa Apso/Miniature Poodle': 22,
         'Blue Lacy/Weimaraner': 2,
         'Anatol Shepherd/Redbone Hound': 4,
         'American Eskimo Mix': 34,
         'Great Pyrenees/Standard Poodle': 4,
         'English Pointer Mix': 33,
         'English Bulldog/American Staffordshire Terrier': 1,
         'Cane Corso': 18,
         'Golden Retriever/Chow Chow': 15,
         'Black Mouth Cur/Golden Retriever': 1,
         'Bullmastiff': 14,
         'Golden Retriever/Finnish Spitz': 1,
         'Pharaoh Hound Mix': 44,
         'Hovawart/Flat Coat Retriever': 2,
         'Belgian Malinois/German Shepherd': 12,
         'Labrador Retriever/Basset Hound': 24,
         'Queensland Heeler': 37,
         'Brittany Mix': 30,
         'Great Dane/Pit Bull': 5,
         'Brittany': 11,
         'Black/Tan Hound/German Shepherd': 2,
         'Rottweiler/Labrador Retriever': 46,
         'Dalmatian/Basset Hound': 1,
         'Labrador Retriever/Chow Chow': 55,
         'Labrador Retriever/Jack Russell Terrier': 11,
         'Shiba Inu': 11,
         'Labrador Retriever/Flat Coat Retriever': 8,
         'Newfoundland/Australian Cattle Dog': 1,
         'Australian Cattle Dog/Boxer': 16,
         'Australian Cattle Dog/Plott Hound': 5,
         'French Bulldog': 29,
         'Alaskan Malamute/German Shepherd': 9,
         'Cairn Terrier/Yorkshire Terrier': 13,
         'Pug/Beagle': 54,
         'Plott Hound/Carolina Dog': 1,
         'Pit Bull/German Shepherd': 28,
         'Boxer/Labrador Retriever': 87,
         'Carolina Dog Mix': 97,
         'Maltese': 101,
         'Weimaraner/Labrador Retriever': 18,
         'Silky Terrier/Yorkshire Terrier': 4,
         'Australian Shepherd/Cardigan Welsh Corgi': 5,
         'Dachshund Longhair/Chihuahua Longhair': 17,
         'Boerboel Mix': 7,
         'Chinese Sharpei/Chow Chow': 1,
         'Anatol Shepherd/Mastiff': 3,
         'Chow Chow/Pit Bull': 7,
         'Dachshund/Manchester Terrier': 12,
         'Black Mouth Cur/Beagle': 2,
         'Mastiff': 35,
         'American Bulldog': 89,
         'Catahoula/Boxer': 5,
         'Anatol Shepherd/Australian Cattle Dog': 2,
         'Pit Bull/Basset Hound': 13,
         'Pug': 114,
         'Shetland Sheepdog/Border Collie': 5,
         'Vizsla': 25,
         'Rottweiler/Beagle': 4,
         'Landseer/Border Collie': 1,
         'Saluki': 5,
         'Chihuahua Longhair': 104,
         'Cocker Spaniel/Dachshund': 8,
         'Standard Poodle': 17,
         'St. Bernard Rough Coat/Beagle': 1,
         'Mastiff Mix': 147,
         'Field Spaniel Mix': 13,
         'Australian Shepherd/Golden Retriever': 2,
         'German Shepherd/Golden Retriever': 8,
         'Shih Tzu/Dachshund Longhair': 1,
         'Whippet/Australian Kelpie': 3,
         'Port Water Dog Mix': 2,
         'Staffordshire/Pit Bull': 2,
         'Alaskan Malamute': 21,
         'Boston Terrier Mix': 134,
         'Australian Cattle Dog/Akita': 8,
         'Boxer/Beagle': 18,
         'Labrador Retriever/Rottweiler': 44,
         'Pointer/Labrador Retriever': 61,
         'German Shorthair Pointer/Australian Cattle Dog': 13,
         'Chow Chow/Chinese Sharpei': 2,
         'Bulldog Mix': 54,
         'St. Bernard Smooth Coat': 6,
         'Australian Shepherd/German Shepherd': 15,
         'Australian Shepherd/Australian Kelpie': 1,
         'Redbone Hound': 17,
         'Dachshund/Rat Terrier': 21,
         'Golden Retriever/Irish Setter': 1,
         'St. Bernard Rough Coat': 7,
         'Border Terrier': 48,
         'Shiba Inu/Australian Kelpie': 4,
         'American Pit Bull Terrier/Labrador Retriever': 6,
         'Cardigan Welsh Corgi/Miniature Schnauzer': 1,
         'Cardigan Welsh Corgi/Cocker Spaniel': 3,
         'Boston Terrier/Beagle': 2,
         'Dachshund Wirehair/Norfolk Terrier': 2,
         'Great Pyrenees/Labrador Retriever': 77,
         'Beagle/Pembroke Welsh Corgi': 1,
         'Yorkshire Terrier/Miniature Poodle': 33,
         'Maltese/Jack Russell Terrier': 2,
         'Toy Fox Terrier': 9,
         'Jack Russell Terrier/Shih Tzu': 4,
         'Chihuahua Shorthair/Chinese Crested': 2,
         'English Shepherd': 4,
         'Jack Russell Terrier/Italian Greyhound': 2,
         'Pit Bull/Dachshund': 6,
         'Anatol Shepherd/Labrador Retriever': 33,
         'Shih Tzu/Yorkshire Terrier': 7,
         'German Shepherd/Black Mouth Cur': 17,
         'Border Terrier/Dachshund': 9,
         'Boxer/Catahoula': 7,
         'Blue Lacy': 35,
         'Labrador Retriever/Collie Rough': 4,
         'Pit Bull/Chow Chow': 7,
         'Chinese Crested': 3,
         'Belgian Malinois Mix': 95,
         'German Shepherd/Border Collie': 19,
         'Wirehaired Pointing Griffon Mix': 10,
         'Bichon Frise': 25,
         'Flat Coat Retriever Mix': 119,
         'Catahoula/Pit Bull': 24,
         'Wire Hair Fox Terrier': 51,
         'Glen Of Imaal Mix': 13,
         'Jack Russell Terrier/Labrador Retriever': 11,
         'Kangal Mix': 2,
         'Black Mouth Cur/Doberman Pinsch': 7,
         'Welsh Terrier Mix': 15,
         'Standard Schnauzer Mix': 64,
         'Treeing Walker Coonhound/German Shepherd': 3,
         'Border Collie/Greyhound': 4,
         'West Highland': 21,
         'Shih Tzu/Cardigan Welsh Corgi': 2,
         'Siberian Husky/German Shepherd': 76,
         'German Shepherd/Alaskan Husky': 38,
         'Anatol Shepherd/Great Pyrenees': 34,
         'Jack Russell Terrier/Border Collie': 4,
         'Weimaraner Mix': 60,
         'Pointer/Pit Bull': 43,
         'Patterdale Terr Mix': 14,
         'Dalmatian Mix': 61,
         'Great Pyrenees/Siberian Husky': 1,
         'German Shepherd/Catahoula': 17,
         'Beauceron Mix': 31,
         'Basset Hound/Pit Bull': 12,
         'Chihuahua Longhair/Silky Terrier': 1,
         'Labrador Retriever/Akita': 1,
         'English Coonhound Mix': 40,
         'Chihuahua Shorthair/Dachshund Wirehair': 11,
         'Cairn Terrier/Dachshund Wirehair': 4,
         'Norwich Terrier': 11,
         'Anatol Shepherd/Kangal': 2,
         'Cane Corso Mix': 19,
         'American Pit Bull Terrier/Boxer': 2,
         'Cairn Terrier/Border Collie': 2,
         'Pit Bull/Boston Terrier': 9,
         'Black/Tan Hound/Labrador Retriever': 14,
         'Norwich Terrier/Pug': 1,
         'Beagle/Pug': 31,
         'Beagle/Basset Hound': 15,
         'Dachshund Longhair/Tibetan Spaniel': 1,
         'Miniature Pinscher/Chihuahua Shorthair': 31,
         'Pembroke Welsh Corgi': 21,
         'Boxer/Staffordshire': 10,
         'Alaskan Husky/Australian Shepherd': 4,
         'English Foxhound Mix': 13,
         'St. Bernard Rough Coat Mix': 29,
         'Australian Shepherd/Border Collie': 27,
         'Rhod Ridgeback/Redbone Hound': 1,
         'Great Pyrenees/Chow Chow': 5,
         'Golden Retriever/Labrador Retriever': 41,
         'Australian Terrier': 3,
         'Papillon/Pomeranian': 1,
         'Shih Tzu/Miniature Schnauzer': 5,
         'Collie Rough/Australian Shepherd': 2,
         'German Shepherd/Chinese Sharpei': 10,
         'Spinone Italiano Mix': 3,
         'Harrier': 15,
         'Dachshund Wirehair': 11,
         'American Bulldog/Boxer': 10,
         'Beagle/Australian Cattle Dog': 13,
         'Collie Rough Mix': 53,
         'Yorkshire Terrier/Norfolk Terrier': 8,
         'Border Collie/Beagle': 7,
         'Chihuahua Longhair/Dachshund Longhair': 4,
         'Labrador Retriever/Alaskan Husky': 13,
         'Norwich Terrier/Maltese': 3,
         'Dachshund Longhair': 44,
         'Bluetick Hound Mix': 27,
         'Pit Bull/Black Mouth Cur': 10,
         'Otterhound Mix': 7,
         'Labrador Retriever/Greyhound': 16,
         'Pbgv Mix': 60,
         'Siberian Husky/Australian Cattle Dog': 18,
         'Border Collie/German Shepherd': 40,
         'Staffordshire/Bull Terrier': 3,
         'German Shepherd/Rottweiler': 27,
         'Siberian Husky/Border Collie': 11,
         'Great Pyrenees/Border Collie': 21,
         'Pointer/Chinese Sharpei': 1,
         'Vizsla/German Shepherd': 2,
         'Pit Bull/Blue Lacy': 8,
         'Labrador Retriever/Black/Tan Hound': 14,
         'Basset Hound/Beagle': 10,
         'German Shepherd/Pointer': 4,
         'Scottish Terrier/Basset Hound': 1,
         'Anatol Shepherd/Chow Chow': 4,
         'Basset Hound/Australian Cattle Dog': 7,
         'Australian Cattle Dog/Bull Terrier': 5,
         'Miniature Schnauzer/Labrador Retriever': 4,
         'Cocker Spaniel/Labrador Retriever': 15,
         'Siberian Husky/French Bulldog': 1,