In [1]:
#Dependencies
import pandas as pd
from collections import Counter

In [4]:
intake_df=pd.read_csv("Austin_Animal_Center_Intakes.csv")

print(intake_df.dtypes)
print(len(intake_df))
intake_df.head()

Animal ID           object
Name                object
DateTime            object
MonthYear           object
Found Location      object
Intake Type         object
Intake Condition    object
Animal Type         object
Sex upon Intake     object
Age upon Intake     object
Breed               object
Color               object
dtype: object
135662

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,01/03/2019 04:19:00 PM,01/03/2019 04:19:00 PM,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,07/05/2015 12:59:00 PM,07/05/2015 12:59:00 PM,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,04/14/2016 06:43:00 PM,04/14/2016 06:43:00 PM,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,10/21/2013 07:59:00 AM,10/21/2013 07:59:00 AM,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,06/29/2014 10:38:00 AM,06/29/2014 10:38:00 AM,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [5]:
outcome_df=pd.read_csv("Austin_Animal_Center_Outcomes.csv")
print(outcome_df.dtypes)
print(len(outcome_df))
outcome_df.head()

Animal ID           object
Name                object
DateTime            object
MonthYear           object
Date of Birth       object
Outcome Type        object
Outcome Subtype     object
Animal Type         object
Sex upon Outcome    object
Age upon Outcome    object
Breed               object
Color               object
dtype: object
135927

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,Chunk,05/08/2019 06:20:00 PM,05/08/2019 06:20:00 PM,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,07/18/2018 04:02:00 PM,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A821648,NaN,08/16/2020 11:38:00 AM,08/16/2020 11:38:00 AM,08/16/2019,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray
3,A720371,Moose,02/13/2016 05:59:00 PM,02/13/2016 05:59:00 PM,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
4,A674754,NaN,03/18/2014 11:47:00 AM,03/18/2014 11:47:00 AM,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby

In [28]:
#Keep dogs
dogs_intake=intake_df[intake_df["Animal Type"]=="Dog"]
print(len(dogs_intake))
dogs_intake.head()

76324

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,01/03/2019 04:19:00 PM,01/03/2019 04:19:00 PM,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,07/05/2015 12:59:00 PM,07/05/2015 12:59:00 PM,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,04/14/2016 06:43:00 PM,04/14/2016 06:43:00 PM,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
4,A682524,Rio,06/29/2014 10:38:00 AM,06/29/2014 10:38:00 AM,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray
5,A743852,Odin,02/18/2017 12:46:00 PM,02/18/2017 12:46:00 PM,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,2 years,Labrador Retriever Mix,Chocolate

In [7]:
#Drop full duplicate rows
intake_df=intake_df.drop_duplicates()
len(intake_df)

135642

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
589,A731435,*Casey,07/22/2016 10:44:00 AM,07/22/2016 10:44:00 AM,Blue Goose Rd And Giles Lna in Austin (TX),Stray,Normal,Cat,Intact Male,4 months,Domestic Shorthair Mix,Cream Tabby
1508,A732478,Cowboy,08/12/2016 12:40:00 PM,08/12/2016 12:40:00 PM,Leander (TX),Public Assist,Normal,Dog,Intact Male,4 years,Anatol Shepherd,Brown/White
2104,A670462,*Tomas,01/08/2014 03:04:00 PM,01/08/2014 03:04:00 PM,1109 S Pleasant Valley Dr Unit 130 in Austin (TX),Stray,Normal,Cat,Intact Male,1 year,Domestic Shorthair Mix,Brown Tabby/White
2618,A801583,Molly,01/18/2020 02:28:00 PM,01/18/2020 02:28:00 PM,Austin (TX),Owner Surrender,Normal,Dog,Spayed Female,2 years,Boxer/Labrador Retriever,Tan/White
2657,A730944,King,08/18/2016 06:04:00 PM,08/18/2016 06:04:00 PM,2400 Loyola Ln in Austin (TX),Stray,Normal,Dog,Intact Male,8 months,Pit Bull Mix,Fawn
...,...,...,...,...,...,...,...,...,...,...,...,...
135650,A844202,NaN,01/18/2022 05:15:00 PM,01/18/2022 05:15:00 PM,Creedmoor (TX),Owner Surrender,Normal,Cat,Intact Female,4 months,Domestic Shorthair,Black
135653,A849202,*Paulie,01/18/2022 05:15:00 PM,01/18/2022 05:15:00 PM,Creedmoor (TX),Owner Surrender,Normal,Dog,Neutered Male,1 year,Dachshund Mix,Brown/White
135655,A825862,Tater,11/14/2020 08:36:00 AM,11/14/2020 08:36:00 AM,15204 Eilers Road in Travis (TX),Stray,Normal,Dog,Intact Male,8 months,Labrador Retriever Mix,Brown/White
135656,A825862,Tater,12/22/2021 10:22:00 AM,12/22/2021 10:22:00 AM,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,1 year,Labrador Retriever Mix,Brown/White
135657,A844937,Carti,12/28/2021 11:46:00 AM,12/28/2021 11:46:00 AM,Austin (TX),Owner Surrender,Normal,Cat,Spayed Female,3 months,Domestic Shorthair Mix,Gray Tabby

In [13]:
#Dogs with multiple records
Counter(multiples["Animal ID"])

Counter({'A731435': 1,
         'A732478': 2,
         'A670462': 1,
         'A801583': 2,
         'A730944': 1,
         'A810189': 3,
         'A416147': 4,
         'A754715': 2,
         'A754607': 1,
         'A658843': 2,
         'A716018': 8,
         'A769150': 3,
         'A664439': 1,
         'A721876': 2,
         'A677045': 1,
         'A665874': 2,
         'A736912': 1,
         'A607663': 2,
         'A784947': 1,
         'A686092': 1,
         'A757624': 1,
         'A765485': 1,
         'A665219': 1,
         'A808587': 4,
         'A775323': 1,
         'A691584': 2,
         'A819429': 2,
         'A655441': 1,
         'A825138': 3,
         'A711583': 2,
         'A820074': 1,
         'A839354': 2,
         'A686386': 2,
         'A483604': 1,
         'A693171': 1,
         'A714665': 1,
         'A840093': 1,
         'A727923': 2,
         'A670785': 2,
         'A751778': 1,
         'A725141': 2,
         'A784862': 1,
         'A760310': 1,
         'A672743': 1,
         'A717053': 8,
         'A768053': 5,
         'A740998': 3,
         'A688035': 1,
         'A724169': 2,
         'A747767': 1,
         'A805209': 2,
         'A718488': 2,
         'A740971': 2,
         'A688837': 1,
         'A685765': 2,
         'A760845': 1,
         'A710745': 1,
         'A686201': 3,
         'A781835': 1,
         'A730105': 2,
         'A669096': 1,
         'A771291': 1,
         'A759467': 7,
         'A610531': 4,
         'A817679': 1,
         'A696970': 2,
         'A768149': 1,
         'A674446': 1,
         'A750528': 1,
         'A689585': 1,
         'A805071': 1,
         'A802747': 2,
         'A775791': 3,
         'A760532': 2,
         'A731749': 1,
         'A825881': 3,
         'A741869': 1,
         'A802076': 1,
         'A484400': 1,
         'A740064': 1,
         'A735904': 3,
         'A766372': 3,
         'A718538': 2,
         'A717889': 2,
         'A828826': 1,
         'A692104': 3,
         'A782055': 2,
         'A724061': 2,
         'A770587': 1,
         'A674489': 1,
         'A734612': 4,
         'A771552': 1,
         'A803768': 3,
         'A555413': 1,
         'A646990': 3,
         'A698790': 5,
         'A813436': 1,
         'A798482': 2,
         'A768459': 2,
         'A689652': 1,
         'A730626': 1,
         'A745659': 1,
         'A838076': 1,
         'A756071': 1,
         'A700920': 1,
         'A700396': 5,
         'A762663': 2,
         'A679873': 3,
         'A691919': 1,
         'A721033': 32,
         'A673032': 1,
         'A754280': 2,
         'A696622': 1,
         'A723945': 2,
         'A691498': 1,
         'A747959': 1,
         'A687986': 4,
         'A820689': 1,
         'A798232': 1,
         'A749854': 1,
         'A794301': 1,
         'A664702': 3,
         'A668200': 3,
         'A716013': 3,
         'A821003': 1,
         'A653895': 1,
         'A616444': 8,
         'A687298': 2,
         'A713533': 1,
         'A514009': 1,
         'A667400': 2,
         'A752641': 2,
         'A686750': 1,
         'A804517': 2,
         'A738869': 1,
         'A675068': 2,
         'A767150': 1,
         'A802782': 2,
         'A737814': 8,
         'A786674': 5,
         'A802050': 2,
         'A711157': 1,
         'A773909': 3,
         'A794669': 2,
         'A623561': 5,
         'A694611': 4,
         'A732172': 4,
         'A718223': 13,
         'A794352': 1,
         'A731343': 4,
         'A760868': 1,
         'A681167': 4,
         'A670800': 3,
         'A786469': 1,
         'A767070': 3,
         'A718877': 11,
         'A811455': 1,
         'A725396': 2,
         'A750942': 2,
         'A806321': 1,
         'A678166': 1,
         'A737403': 1,
         'A755464': 2,
         'A741623': 6,
         'A631106': 1,
         'A693856': 1,
         'A702642': 2,
         'A795165': 1,
         'A621534': 2,
         'A751065': 1,
         'A770599': 2,
         'A774102': 6,
         'A756921': 1,
         'A718529': 2,
         'A764109': 2,
         'A772747': 2,
         'A698767': 2,
         'A669900': 4,
         'A709588': 1,
         'A758827': 2,
         'A690060': 2,
         'A694006': 1,
         'A723868': 1,
         'A769826': 2,
         'A680462': 1,
         'A629077': 1,
         'A760060': 2,
         'A718577': 4,
         'A819080': 1,
         'A462504': 2,
         'A766927': 2,
         'A735476': 2,
         'A766903': 3,
         'A812607': 1,
         'A798185': 1,
         'A506775': 1,
         'A697867': 1,
         'A773855': 1,
         'A768025': 1,
         'A782920': 1,
         'A798824': 1,
         'A809874': 1,
         'A721019': 2,
         'A633994': 2,
         'A736717': 3,
         'A772379': 1,
         'A738473': 1,
         'A795850': 1,
         'A637504': 2,
         'A826169': 1,
         'A685124': 1,
         'A693267': 1,
         'A747066': 1,
         'A772243': 1,
         'A697794': 3,
         'A751404': 2,
         'A563400': 1,
         'A734520': 3,
         'A733408': 2,
         'A698737': 2,
         'A667876': 1,
         'A626283': 1,
         'A714635': 1,
         'A794048': 2,
         'A790993': 1,
         'A765714': 3,
         'A675828': 1,
         'A809230': 1,
         'A737882': 1,
         'A674778': 1,
         'A778727': 2,
         'A754916': 1,
         'A760485': 1,
         'A746880': 2,
         'A713233': 2,
         'A697253': 3,
         'A802927': 2,
         'A797321': 1,
         'A713352': 1,
         'A739312': 1,
         'A755110': 3,
         'A696370': 1,
         'A778408': 1,
         'A679467': 1,
         'A792259': 1,
         'A673271': 4,
         'A742748': 2,
         'A806418': 2,
         'A827768': 1,
         'A786218': 2,
         'A712791': 3,
         'A724611': 1,
         'A756035': 3,
         'A694501': 7,
         'A642067': 1,
         'A794182': 1,
         'A784958': 2,
         'A722208': 2,
         'A632028': 3,
         'A712538': 1,
         'A789608': 1,
         'A784588': 1,
         'A752059': 1,
         'A781478': 1,
         'A685324': 2,
         'A757411': 2,
         'A722253': 3,
         'A756603': 1,
         'A801555': 1,
         'A783120': 3,
         'A702882': 1,
         'A524092': 3,
         'A681226': 3,
         'A803463': 3,
         'A778593': 2,
         'A660790': 3,
         'A739364': 1,
         'A709784': 1,
         'A791176': 1,
         'A641520': 1,
         'A674546': 1,
         'A699833': 1,
         'A756690': 2,
         'A776739': 4,
         'A705236': 4,
         'A790785': 5,
         'A696008': 1,
         'A764532': 2,
         'A674694': 1,
         'A757777': 2,
         'A685695': 1,
         'A705803': 1,
         'A822527': 2,
         'A750482': 3,
         'A809714': 1,
         'A616805': 1,
         'A735726': 1,
         'A674392': 1,
         'A768644': 1,
         'A691541': 2,
         'A736526': 1,
         'A689364': 1,
         'A691815': 1,
         'A762436': 1,
         'A775568': 1,
         'A642692': 5,
         'A733056': 1,
         'A700906': 1,
         'A771107': 1,
         'A765207': 4,
         'A715584': 1,
         'A700407': 8,
         'A715347': 2,
         'A765815': 3,
         'A564596': 1,
         'A665211': 1,
         'A672555': 2,
         'A753460': 1,
         'A823252': 1,
         'A761751': 6,
         'A724764': 2,
         'A803891': 2,
         'A778218': 1,
         'A749325': 3,
         'A678068': 2,
         'A730415': 5,
         'A839805': 1,
         'A751853': 1,
         'A570182': 2,
         'A742397': 1,
         'A715800': 2,
         'A780808': 1,
         'A768124': 1,
         'A821868': 1,
         'A696932': 3,
         'A743167': 1,
         'A729527': 3,
         'A723198': 2,
         'A779462': 1,
         'A743414': 1,
         'A695072': 1,
         'A797005': 1,
         'A783623': 2,
         'A812525': 2,
         'A786393': 1,
         'A738179': 1,
         'A697761': 1,
         'A772863': 2,
         'A755640': 2,
         'A704697': 3,
         'A787181': 2,
         'A721336': 1,
         'A687506': 1,
         'A624771': 3,
         'A765602': 1,
         'A709407': 4,
         'A679575': 1,
         'A790523': 2,
         'A727544': 2,
         'A746740': 1,
         'A771554': 1,
         'A683938': 2,
         'A677626': 2,
         'A741180': 1,
         'A586222': 1,
         'A620803': 3,
         'A739833': 1,
         'A726892': 2,
         'A731154': 1,
         'A779000': 1,
         'A770009': 6,
         'A746586': 2,
         'A788612': 2,
         'A814661': 1,
         'A593537': 6,
         'A668351': 1,
         'A758652': 2,
         'A768978': 2,
         'A765925': 1,
         'A629636': 2,
         'A797429': 2,
         'A785601': 2,
         'A631494': 1,
         'A676571': 2,
         'A753646': 1,
         'A684538': 1,
         'A766145': 2,
         'A760241': 1,
         'A774233': 2,
         'A669971': 2,
         'A790856': 1,
         'A765229': 1,
         'A721281': 1,
         'A838411': 1,
         'A762473': 1,
         'A803988': 1,
         'A769010': 2,
         'A765672': 1,
         'A672895': 2,
         'A743467': 1,
         'A764269': 1,
         'A795620': 3,
         'A790482': 6,
         'A763835': 2,
         'A763300': 4,
         'A762485': 1,
         'A740458': 3,
         'A743329': 1,
         'A006100': 2,
         'A668882': 2,
         'A702774': 1,
         'A812956': 2,
         'A684049': 1,
         'A765563': 2,
         'A716774': 2,
         'A582002': 2,
         'A757897': 2,
         'A736669': 2,
         'A381217': 1,
         'A726573': 1,
         'A785828': 1,
         'A697671': 1,
         'A701168': 2,
         'A747484': 1,
         'A601482': 3,
         'A713768': 1,
         'A838982': 1,
         'A453083': 2,
         'A751688': 1,
         'A732618': 5,
         'A682426': 1,
         'A756338': 1,
         'A746925': 2,
         'A694389': 2,
         'A757898': 2,
         'A767794': 1,
         'A696652': 2,
         'A767432': 4,
         'A692091': 2,
         'A717052': 1,
         'A670656': 2,
         'A704326': 1,
         'A638232': 1,
         'A718061': 1,
         'A722800': 1,
         'A672175': 1,
         'A732850': 1,
         'A758855': 1,
         'A798879': 1,
         'A704943': 2,
         'A740118': 2,
         'A699834': 1,
         'A733605': 1,
         'A703426': 1,
         'A795402': 1,
         'A720651': 2,
         'A698835': 2,
         'A670953': 3,
         'A774848': 2,
         'A753134': 1,
         'A724545': 2,
         'A679708': 4,
         'A787448': 3,
         'A718506': 1,
         'A801573': 2,
         'A737854': 6,
         'A716880': 2,
         'A755179': 2,
         'A708737': 3,
         'A735619': 1,
         'A835831': 3,
         'A759763': 1,
         'A751461': 3,
         'A700252': 4,
         'A650282': 1,
         'A731397': 1,
         'A794494': 1,
         'A798399': 2,
         'A720905': 4,
         'A796444': 1,
         'A802145': 3,
         'A656069': 1,
         'A581356': 2,
         'A735415': 1,
         'A694580': 1,
         'A754288': 3,
         'A813328': 1,
         'A754845': 2,
         'A724359': 2,
         'A670391': 2,
         'A569887': 1,
         'A720901': 1,
         'A716075': 1,
         'A840942': 1,
         'A728546': 2,
         'A776530': 2,
         'A731894': 1,
         'A733947': 1,
         'A675002': 1,
         'A803725': 1,
         'A564774': 3,
         'A682138': 1,
         'A789961': 1,
         'A612925': 1,
         'A754494': 1,
         'A727203': 3,
         'A759526': 1,
         'A756016': 1,
         'A527094': 1,
         'A742156': 1,
         'A779578': 2,
         'A725530': 1,
         'A675840': 1,
         'A735407': 1,
         'A665334': 6,
         'A726190': 1,
         'A823880': 4,
         'A790254': 2,
         'A588601': 6,
         'A724657': 2,
         'A763678': 1,
         'A807930': 2,
         'A810245': 2,
         'A758089': 2,
         'A689738': 3,
         'A820013': 4,
         'A801415': 2,
         'A700668': 1,
         'A758460': 1,
         'A761100': 3,
         'A824084': 2,
         'A696324': 1,
         'A570239': 1,
         'A679921': 3,
         'A671586': 1,
         'A785317': 1,
         'A679089': 1,
         'A789035': 1,
         'A737663': 1,
         'A822528': 1,
         'A678174': 5,
         'A793909': 2,
         'A703207': 1,
         'A744843': 2,
         'A716279': 1,
         'A627189': 3,
         'A663480': 1,
         'A810846': 2,
         'A828827': 1,
         'A693065': 3,
         'A702705': 1,
         'A730251': 2,
         'A732354': 1,
         'A721406': 1,
         'A732299': 2,
         'A761266': 8,
         'A697851': 1,
         'A767015': 1,
         'A695189': 3,
         'A730569': 1,
         'A659262': 1,
         'A730495': 1,
         'A688790': 2,
         'A679743': 1,
         'A690543': 5,
         'A713588': 2,
         'A710474': 1,
         'A663819': 5,
         'A682338': 1,
         'A705147': 1,
         'A718618': 1,
         'A680834': 1,
         'A652352': 1,
         'A726125': 1,
         'A812353': 1,
         'A740631': 2,
         'A671158': 3,
         'A804580': 1,
         'A761255': 3,
         'A786535': 1,
         'A753390': 1,
         'A675622': 2,
         'A692221': 3,
         'A749999': 1,
         'A770590': 1,
         'A804305': 1,
         'A782253': 3,
         'A742476': 3,
         'A756798': 1,
         'A697843': 2,
         'A779316': 2,
         'A809579': 1,
         'A714646': 2,
         'A691944': 1,
         'A728151': 1,
         'A778282': 1,
         'A763230': 2,
         'A742148': 2,
         'A820235': 3,
         'A775085': 1,
         'A716636': 1,
         'A775487': 2,
         'A607233': 4,
         'A684708': 3,
         'A743108': 1,
         'A819740': 1,
         'A746816': 3,
         'A763798': 1,
         'A633402': 3,
         'A672661': 1,
         'A731684': 2,
         'A664151': 1,
         'A689292': 1,
         'A640185': 4,
         'A679346': 2,
         'A679597': 2,
         'A708411': 6,
         'A788619': 1,
         'A680437': 1,
         'A716582': 1,
         'A750747': 2,
         'A762461': 4,
         'A779967': 2,
         'A706178': 3,
         'A746662': 2,
         'A742869': 1,
         'A834950': 1,
         'A683549': 3,
         'A730141': 1,
         'A665629': 2,
         'A744440': 2,
         'A820540': 3,
         'A755274': 3,
         'A820898': 2,
         'A738441': 2,
         'A732662': 1,
         'A726209': 2,
         'A693269': 2,
         'A735601': 6,
         'A717655': 1,
         'A723756': 1,
         'A739329': 1,
         'A706536': 10,
         'A749230': 1,
         'A717008': 1,
         'A698523': 2,
         'A790645': 1,
         'A801321': 1,
         'A548247': 2,
         'A669103': 1,
         'A784066': 1,
         'A721861': 1,
         'A709044': 1,
         'A781133': 2,
         'A666371': 2,
         'A772439': 1,
         'A778585': 2,
         'A749238': 1,
         'A668664': 3,
         'A679220': 2,
         'A713451': 1,
         'A670652': 3,
         'A715593': 2,
         'A731916': 3,
         'A675432': 3,
         'A729344': 1,
         'A738385': 1,
         'A724481': 1,
         'A642946': 2,
         'A714493': 3,
         'A800572': 1,
         'A717788': 1,
         'A719135': 2,
         'A785142': 2,
         'A768337': 3,
         'A718860': 1,
         'A803641': 2,
         'A666568': 1,
         'A819041': 2,
         'A666752': 2,
         'A689959': 3,
         'A806733': 2,
         'A767731': 2,
         'A764301': 2,
         'A764979': 1,
         'A800486': 1,
         'A713689': 1,
         'A813055': 5,
         'A672765': 1,
         'A810837': 1,
         'A774962': 2,
         'A780529': 1,
         'A704739': 1,
         'A786398': 1,
         'A703414': 2,
         'A742897': 3,
         'A676071': 3,
         'A715218': 1,
         'A807478': 1,
         'A790207': 1,
         'A772648': 2,
         'A742997': 2,
         'A777203': 1,
         'A732596': 2,
         'A681537': 1,
         'A723285': 1,
         'A787425': 1,
         'A694714': 1,
         'A704247': 1,
         'A565694': 4,
         'A710350': 2,
         'A699009': 1,
         'A784258': 1,
         'A636565': 1,
         'A665012': 1,
         'A566868': 3,
         'A688914': 2,
         'A683511': 1,
         'A790916': 1,
         'A683500': 1,
         'A685018': 1,
         'A802409': 2,
         'A620743': 1,
         'A711486': 1,
         'A840930': 1,
         'A734115': 1,
         'A802512': 2,
         'A727304': 1,
         'A684412': 3,
         'A669895': 1,
         'A769099': 3,
         'A799224': 2,
         'A774522': 1,
         'A604955': 2,
         'A746542': 1,
         'A733964': 4,
         'A559953': 3,
         'A743423': 1,
         'A670868': 3,
         'A698663': 2,
         'A724613': 1,
         'A726552': 3,
         'A747341': 1,
         'A670333': 1,
         'A795380': 1,
         'A468026': 1,
         'A768390': 1,
         'A704998': 4,
         'A701879': 4,
         'A776856': 1,
         'A729697': 2,
         'A696688': 1,
         'A711096': 2,
         'A612857': 2,
         'A716379': 2,
         'A719747': 3,
         'A738605': 2,
         'A731356': 3,
         'A822114': 1,
         'A800147': 1,
         'A616374': 1,
         'A761479': 2,
         'A724111': 2,
         'A805074': 2,
         'A737726': 1,
         'A765973': 1,
         'A721984': 3,
         'A670262': 2,
         'A713661': 4,
         'A690344': 2,
         'A745246': 1,
         'A726827': 1,
         'A833025': 3,
         'A691218': 4,
         'A749086': 3,
         'A711621': 1,
         'A687037': 1,
         'A795552': 1,
         'A755939': 2,
         'A622978': 1,
         'A769909': 1,
         'A688535': 1,
         'A753957': 1,
         'A652493': 1,
         'A802856': 1,
         'A729947': 1,
         'A669449': 1,
         'A753455': 2,
         'A672272': 1,
         'A782294': 1,
         'A768628': 2,
         'A752378': 2,
         'A704004': 4,
         'A723739': 1,
         'A775821': 2,
         'A669806': 1,
         'A725166': 1,
         'A696495': 1,
         'A724704': 1,
         'A788615': 1,
         'A611075': 2,
         'A768662': 1,
         'A823018': 1,
         'A549167': 2,
         'A672216': 4,
         'A767536': 2,
         'A722024': 2,
         'A701451': 1,
         'A679187': 1,
         'A583951': 3,
         'A822146': 1,
         'A756532': 1,
         'A798569': 1,
         'A738561': 3,
         'A678839': 2,
         'A791590': 1,
         'A773437': 1,
         'A786491': 3,
         'A776941': 3,
         'A700839': 3,
         'A790467': 1,
         'A704526': 3,
         'A821864': 1,
         'A766376': 1,
         'A717930': 1,
         'A737292': 1,
         'A796788': 1,
         'A693282': 5,
         'A730538': 1,
         'A730144': 5,
         'A692409': 2,
         'A782065': 3,
         'A790210': 3,
         'A718300': 1,
         'A766554': 3,
         'A730138': 1,
         'A775221': 1,
         'A692298': 2,
         'A695857': 5,
         'A791036': 1,
         'A667097': 1,
         'A721018': 1,
         'A741374': 2,
         'A775547': 1,
         'A737494': 2,
         'A657795': 1,
         'A781669': 1,
         'A738779': 2,
         'A771766': 1,
         'A701995': 2,
         'A695109': 1,
         'A666543': 1,
         'A712098': 1,
         'A719936': 2,
         'A693036': 6,
         'A576469': 1,
         'A689279': 4,
         'A463685': 1,
         'A673408': 2,
         'A691045': 1,
         'A757381': 1,
         'A784533': 1,
         'A683905': 3,
         'A776582': 1,
         'A733311': 2,
         'A698980': 1,
         'A817483': 1,
         'A833410': 3,
         'A757501': 1,

In [24]:
print(intake_df.loc[intake_df["Animal ID"]=="A721033"])

       Animal ID     Name                DateTime               MonthYear  \
4070     A721033  Lil Bit  02/24/2019 09:53:00 PM  02/24/2019 09:53:00 PM
10584    A721033  Lil Bit  03/07/2018 08:27:00 AM  03/07/2018 08:27:00 AM
12761    A721033  Lil Bit  05/20/2019 10:18:00 AM  05/20/2019 10:18:00 AM
13234    A721033  Lil Bit  04/05/2018 05:59:00 PM  04/05/2018 05:59:00 PM
20122    A721033  Lil Bit  09/24/2018 07:44:00 PM  09/24/2018 07:44:00 PM
24090    A721033  Lil Bit  03/15/2017 09:24:00 AM  03/15/2017 09:24:00 AM
25878    A721033  Lil Bit  02/12/2019 10:21:00 AM  02/12/2019 10:21:00 AM
27498    A721033  Lil Bit  09/21/2018 03:01:00 PM  09/21/2018 03:01:00 PM
27808    A721033  Lil Bit  10/05/2019 12:31:00 PM  10/05/2019 12:31:00 PM
29038    A721033  Lil Bit  10/20/2016 10:47:00 PM  10/20/2016 10:47:00 PM
36356    A721033  Lil Bit  07/10/2016 11:53:00 AM  07/10/2016 11:53:00 AM
36606    A721033  Lil Bit  08/05/2019 10:52:00 AM  08/05/2019 10:52:00 AM
39077    A721033  Lil Bit  09/03/2018 05:24:00 PM  09/03/2018 05:24:00 PM
41142    A721033  Lil Bit  03/07/2019 12:02:00 PM  03/07/2019 12:02:00 PM
41356    A721033  Lil Bit  12/15/2016 10:07:00 AM  12/15/2016 10:07:00 AM
41763    A721033  Lil Bit  01/30/2017 11:05:00 PM  01/30/2017 11:05:00 PM
52314    A721033  Lil Bit  03/14/2018 10:57:00 AM  03/14/2018 10:57:00 AM
52716    A721033  Lil Bit  04/26/2019 10:28:00 AM  04/26/2019 10:28:00 AM
53341    A721033  Lil Bit  04/12/2018 10:14:00 AM  04/12/2018 10:14:00 AM
60182    A721033  Lil Bit  02/16/2019 10:30:00 AM  02/16/2019 10:30:00 AM
65430    A721033  Lil Bit  12/17/2018 04:52:00 PM  12/17/2018 04:52:00 PM
73636    A721033  Lil Bit  04/22/2018 02:40:00 PM  04/22/2018 02:40:00 PM
85677    A721033  Lil Bit  11/19/2018 07:53:00 PM  11/19/2018 07:53:00 PM
95208    A721033  Lil Bit  02/06/2017 10:13:00 AM  02/06/2017 10:13:00 AM
95958    A721033  Lil Bit  02/20/2016 10:44:00 AM  02/20/2016 10:44:00 AM
100227   A721033  Lil Bit  09/16/2019 02:06:00 PM  09/16/2019 02:06:00 PM
102213   A721033  Lil Bit  05/22/2018 01:48:00 PM  05/22/2018 01:48:00 PM
109936   A721033  Lil Bit  01/09/2017 02:26:00 PM  01/09/2017 02:26:00 PM
113025   A721033  Lil Bit  09/03/2016 02:30:00 PM  09/03/2016 02:30:00 PM
116739   A721033  Lil Bit  01/26/2017 06:55:00 AM  01/26/2017 06:55:00 AM
119346   A721033  Lil Bit  08/06/2018 07:00:00 PM  08/06/2018 07:00:00 PM
125149   A721033  Lil Bit  08/18/2018 09:45:00 PM  08/18/2018 09:45:00 PM
128060   A721033  Lil Bit  02/22/2018 10:28:00 AM  02/22/2018 10:28:00 AM

                                           Found Location    Intake Type  \
4070                          700 Allen St in Austin (TX)  Public Assist
10584                       4111 South 1St in Austin (TX)  Public Assist
12761      1819 South Pleasant Valley Road in Austin (TX)  Public Assist
13234                   9705 Manchaca Road in Austin (TX)  Public Assist
20122                    Shady And Airport in Austin (TX)  Public Assist
24090     E Ben White Blvd & Montopolis Dr in Austin (TX)  Public Assist
25878              1936 East Oltorf Street in Austin (TX)  Public Assist
27498                     863 Airport Blvd in Austin (TX)  Public Assist
27808               1135 Airport Boulevard in Austin (TX)  Public Assist
29038               6200 E. Ben White Blvd in Austin (TX)  Public Assist
36356                6317 E Ben White Blvd in Austin (TX)          Stray
36606                    Burton And Oltorf in Austin (TX)  Public Assist
39077   East 7Th Street And Pleasant Valley in Austin ...  Public Assist
41142                       1500 Red River in Austin (TX)  Public Assist
41356   S Pleasant Valley Rd And E Riverside Dr in Aus...  Public Assist
41763                     6210 E Ben White in Austin (TX)  Public Assist
52314                     814 Stark Street in Austin (TX)          Stray
52716               South 1St And Stassney in Austin (TX)  Public Assist
53341                                         Austin (TX)  Public Assist
60182                    1135 Airport Blvd in Austin (TX)  Public Assist
65430                         1144 Airport in Austin (TX)  Public Assist
73636   South First Street And Oltorf Street in Austin...          Stray
85677                         9300 S Ih 35 in Austin (TX)  Public Assist
95208                     6210 E Ben White in Austin (TX)  Public Assist
95958                  2508 E Riverside Dr in Austin (TX)          Stray
100227         Justin Lane And North Lamar in Austin (TX)  Public Assist
102213               W Oltorf And S 1St St in Austin (TX)  Public Assist
109936               6210 E Ben White Blvd in Austin (TX)          Stray
113025                    6010 E Riverside in Austin (TX)  Public Assist
116739                901 W Ben White Blvd in Austin (TX)  Public Assist
119346                  606 West Slaughter in Austin (TX)  Public Assist
125149               1500 Red River Street in Austin (TX)  Public Assist
128060                 6400 Ben White Blvd in Austin (TX)  Public Assist

       Intake Condition Animal Type Sex upon Intake Age upon Intake  \
4070             Normal         Dog   Neutered Male         3 years
10584            Normal         Dog   Neutered Male         2 years
12761            Normal         Dog   Neutered Male         4 years
13234            Normal         Dog   Neutered Male         2 years
20122            Normal         Dog   Neutered Male         3 years
24090            Normal         Dog   Neutered Male          1 year
25878            Normal         Dog   Neutered Male         3 years
27498            Normal         Dog   Neutered Male         3 years
27808            Normal         Dog   Neutered Male         4 years
29038            Normal         Dog   Neutered Male          1 year
36356            Normal         Dog   Neutered Male          1 year
36606            Normal         Dog   Neutered Male         4 years
39077            Normal         Dog   Neutered Male         3 years
41142            Normal         Dog   Neutered Male         3 years
41356            Normal         Dog   Neutered Male          1 year
41763            Normal         Dog   Neutered Male          1 year
52314            Normal         Dog   Neutered Male         2 years
52716            Normal         Dog   Neutered Male         3 years
53341            Normal         Dog   Neutered Male         2 years
60182            Normal         Dog   Neutered Male         3 years
65430            Normal         Dog   Neutered Male         3 years
73636            Normal         Dog   Neutered Male         2 years
85677            Normal         Dog   Neutered Male         3 years
95208            Normal         Dog   Neutered Male          1 year
95958            Normal         Dog   Neutered Male        9 months
100227           Normal         Dog   Neutered Male         4 years
102213           Normal         Dog   Neutered Male         3 years
109936          Injured         Dog   Neutered Male          1 year
113025           Normal         Dog   Neutered Male          1 year
116739           Normal         Dog   Neutered Male          1 year
119346           Normal         Dog   Neutered Male         3 years
125149           Normal         Dog   Neutered Male         3 years
128060           Normal         Dog   Neutered Male         2 years

                  Breed                   Color
4070    Rat Terrier Mix  Tricolor/Brown Brindle
10584   Rat Terrier Mix  Tricolor/Brown Brindle
12761   Rat Terrier Mix  Tricolor/Brown Brindle
13234   Rat Terrier Mix  Tricolor/Brown Brindle
20122   Rat Terrier Mix  Tricolor/Brown Brindle
24090   Rat Terrier Mix  Tricolor/Brown Brindle
25878   Rat Terrier Mix  Tricolor/Brown Brindle
27498   Rat Terrier Mix  Tricolor/Brown Brindle
27808   Rat Terrier Mix  Tricolor/Brown Brindle
29038   Rat Terrier Mix  Tricolor/Brown Brindle
36356   Rat Terrier Mix  Tricolor/Brown Brindle
36606   Rat Terrier Mix  Tricolor/Brown Brindle
39077   Rat Terrier Mix  Tricolor/Brown Brindle
41142   Rat Terrier Mix  Tricolor/Brown Brindle
41356   Rat Terrier Mix  Tricolor/Brown Brindle
41763   Rat Terrier Mix  Tricolor/Brown Brindle
52314   Rat Terrier Mix  Tricolor/Brown Brindle
52716   Rat Terrier Mix  Tricolor/Brown Brindle
53341   Rat Terrier Mix  Tricolor/Brown Brindle
60182   Rat Terrier Mix  Tricolor/Brown Brindle
65430   Rat Terrier Mix  Tricolor/Brown Brindle
73636   Rat Terrier Mix  Tricolor/Brown Brindle
85677   Rat Terrier Mix  Tricolor/Brown Brindle
95208   Rat Terrier Mix  Tricolor/Brown Brindle
95958   Rat Terrier Mix  Tricolor/Brown Brindle
100227  Rat Terrier Mix  Tricolor/Brown Brindle
102213  Rat Terrier Mix  Tricolor/Brown Brindle
109936  Rat Terrier Mix  Tricolor/Brown Brindle
113025  Rat Terrier Mix  Tricolor/Brown Brindle
116739  Rat Terrier Mix  Tricolor/Brown Brindle
119346  Rat Terrier Mix  Tricolor/Brown Brindle
125149  Rat Terrier Mix  Tricolor/Brown Brindle
128060  Rat Terrier Mix  Tricolor/Brown Brindle